.four-swords-link .tunic--active-1 { background-image: url(images/sprites/four_swords_link/tunic1.png); }
.four-swords-link .tunic--active-2 { background-image: url(images/sprites/four_swords_link/tunic2.png); }
.four-swords-link .tunic--active-3 { background-image: url(images/sprites/four_swords_link/tunic3.png); }
.four-swords-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/four_swords_link/tunicbunny1.png); }
.four-swords-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/four_swords_link/tunicbunny2.png); }
.four-swords-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/four_swords_link/tunicbunny3.png); }

.boo .tunic--active-1 { background-image: url(images/sprites/boo/tunic1.png); }
.boo .tunic--active-2 { background-image: url(images/sprites/boo/tunic2.png); }
.boo .tunic--active-3 { background-image: url(images/sprites/boo/tunic3.png); }
.boo .tunic--active-1.tunic--bunny { background-image: url(images/sprites/boo/tunicbunny1.png); }
.boo .tunic--active-2.tunic--bunny { background-image: url(images/sprites/boo/tunicbunny2.png); }
.boo .tunic--active-3.tunic--bunny { background-image: url(images/sprites/boo/tunicbunny3.png); }

.boy .tunic--active-1 { background-image: url(images/sprites/boy/tunic1.png); }
.boy .tunic--active-2 { background-image: url(images/sprites/boy/tunic2.png); }
.boy .tunic--active-3 { background-image: url(images/sprites/boy/tunic3.png); }
.boy .tunic--active-1.tunic--bunny { background-image: url(images/sprites/boy/tunicbunny1.png); }
.boy .tunic--active-2.tunic--bunny { background-image: url(images/sprites/boy/tunicbunny2.png); }
.boy .tunic--active-3.tunic--bunny { background-image: url(images/sprites/boy/tunicbunny3.png); }

.cactuar .tunic--active-1 { background-image: url(images/sprites/cactuar/tunic1.png); }
.cactuar .tunic--active-2 { background-image: url(images/sprites/cactuar/tunic2.png); }
.cactuar .tunic--active-3 { background-image: url(images/sprites/cactuar/tunic3.png); }
.cactuar .tunic--active-1.tunic--bunny { background-image: url(images/sprites/cactuar/tunicbunny1.png); }
.cactuar .tunic--active-2.tunic--bunny { background-image: url(images/sprites/cactuar/tunicbunny2.png); }
.cactuar .tunic--active-3.tunic--bunny { background-image: url(images/sprites/cactuar/tunicbunny3.png); }

.cat .tunic--active-1 { background-image: url(images/sprites/cat/tunic1.png); }
.cat .tunic--active-2 { background-image: url(images/sprites/cat/tunic2.png); }
.cat .tunic--active-3 { background-image: url(images/sprites/cat/tunic3.png); }
.cat .tunic--active-1.tunic--bunny { background-image: url(images/sprites/cat/tunicbunny1.png); }
.cat .tunic--active-2.tunic--bunny { background-image: url(images/sprites/cat/tunicbunny2.png); }
.cat .tunic--active-3.tunic--bunny { background-image: url(images/sprites/cat/tunicbunny3.png); }

.cat-boo .tunic--active-1 { background-image: url(images/sprites/cat_boo/tunic1.png); }
.cat-boo .tunic--active-2 { background-image: url(images/sprites/cat_boo/tunic2.png); }
.cat-boo .tunic--active-3 { background-image: url(images/sprites/cat_boo/tunic3.png); }
.cat-boo .tunic--active-1.tunic--bunny { background-image: url(images/sprites/cat_boo/tunicbunny1.png); }
.cat-boo .tunic--active-2.tunic--bunny { background-image: url(images/sprites/cat_boo/tunicbunny2.png); }
.cat-boo .tunic--active-3.tunic--bunny { background-image: url(images/sprites/cat_boo/tunicbunny3.png); }

.cirno .tunic--active-1 { background-image: url(images/sprites/cirno/tunic1.png); }
.cirno .tunic--active-2 { background-image: url(images/sprites/cirno/tunic2.png); }
.cirno .tunic--active-3 { background-image: url(images/sprites/cirno/tunic3.png); }
.cirno .tunic--active-1.tunic--bunny { background-image: url(images/sprites/cirno/tunicbunny1.png); }
.cirno .tunic--active-2.tunic--bunny { background-image: url(images/sprites/cirno/tunicbunny2.png); }
.cirno .tunic--active-3.tunic--bunny { background-image: url(images/sprites/cirno/tunicbunny3.png); }

.dark-boy .tunic--active-1 { background-image: url(images/sprites/dark_boy/tunic1.png); }
.dark-boy .tunic--active-2 { background-image: url(images/sprites/dark_boy/tunic2.png); }
.dark-boy .tunic--active-3 { background-image: url(images/sprites/dark_boy/tunic3.png); }
.dark-boy .tunic--active-1.tunic--bunny { background-image: url(images/sprites/dark_boy/tunicbunny1.png); }
.dark-boy .tunic--active-2.tunic--bunny { background-image: url(images/sprites/dark_boy/tunicbunny2.png); }
.dark-boy .tunic--active-3.tunic--bunny { background-image: url(images/sprites/dark_boy/tunicbunny3.png); }

.dark-girl .tunic--active-1 { background-image: url(images/sprites/dark_girl/tunic1.png); }
.dark-girl .tunic--active-2 { background-image: url(images/sprites/dark_girl/tunic2.png); }
.dark-girl .tunic--active-3 { background-image: url(images/sprites/dark_girl/tunic3.png); }
.dark-girl .tunic--active-1.tunic--bunny { background-image: url(images/sprites/dark_girl/tunicbunny1.png); }
.dark-girl .tunic--active-2.tunic--bunny { background-image: url(images/sprites/dark_girl/tunicbunny2.png); }
.dark-girl .tunic--active-3.tunic--bunny { background-image: url(images/sprites/dark_girl/tunicbunny3.png); }

.dark-link .tunic--active-1 { background-image: url(images/sprites/dark_link/tunic1.png); }
.dark-link .tunic--active-2 { background-image: url(images/sprites/dark_link/tunic2.png); }
.dark-link .tunic--active-3 { background-image: url(images/sprites/dark_link/tunic3.png); }
.dark-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/dark_link/tunicbunny1.png); }
.dark-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/dark_link/tunicbunny2.png); }
.dark-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/dark_link/tunicbunny3.png); }

.dark-swatchy .tunic--active-1 { background-image: url(images/sprites/dark_swatchy/tunic1.png); }
.dark-swatchy .tunic--active-2 { background-image: url(images/sprites/dark_swatchy/tunic2.png); }
.dark-swatchy .tunic--active-3 { background-image: url(images/sprites/dark_swatchy/tunic3.png); }
.dark-swatchy .tunic--active-1.tunic--bunny { background-image: url(images/sprites/dark_swatchy/tunicbunny1.png); }
.dark-swatchy .tunic--active-2.tunic--bunny { background-image: url(images/sprites/dark_swatchy/tunicbunny2.png); }
.dark-swatchy .tunic--active-3.tunic--bunny { background-image: url(images/sprites/dark_swatchy/tunicbunny3.png); }

.dark-zelda .tunic--active-1 { background-image: url(images/sprites/dark_zelda/tunic1.png); }
.dark-zelda .tunic--active-2 { background-image: url(images/sprites/dark_zelda/tunic2.png); }
.dark-zelda .tunic--active-3 { background-image: url(images/sprites/dark_zelda/tunic3.png); }
.dark-zelda .tunic--active-1.tunic--bunny { background-image: url(images/sprites/dark_zelda/tunicbunny1.png); }
.dark-zelda .tunic--active-2.tunic--bunny { background-image: url(images/sprites/dark_zelda/tunicbunny2.png); }
.dark-zelda .tunic--active-3.tunic--bunny { background-image: url(images/sprites/dark_zelda/tunicbunny3.png); }

.dark-zora .tunic--active-1 { background-image: url(images/sprites/dark_zora/tunic1.png); }
.dark-zora .tunic--active-2 { background-image: url(images/sprites/dark_zora/tunic2.png); }
.dark-zora .tunic--active-3 { background-image: url(images/sprites/dark_zora/tunic3.png); }
.dark-zora .tunic--active-1.tunic--bunny { background-image: url(images/sprites/dark_zora/tunicbunny1.png); }
.dark-zora .tunic--active-2.tunic--bunny { background-image: url(images/sprites/dark_zora/tunicbunny2.png); }
.dark-zora .tunic--active-3.tunic--bunny { background-image: url(images/sprites/dark_zora/tunicbunny3.png); }

.decidueye .tunic--active-1 { background-image: url(images/sprites/decidueye/tunic1.png); }
.decidueye .tunic--active-2 { background-image: url(images/sprites/decidueye/tunic2.png); }
.decidueye .tunic--active-3 { background-image: url(images/sprites/decidueye/tunic3.png); }
.decidueye .tunic--active-1.tunic--bunny { background-image: url(images/sprites/decidueye/tunicbunny1.png); }
.decidueye .tunic--active-2.tunic--bunny { background-image: url(images/sprites/decidueye/tunicbunny2.png); }
.decidueye .tunic--active-3.tunic--bunny { background-image: url(images/sprites/decidueye/tunicbunny3.png); }

.demon-link .tunic--active-1 { background-image: url(images/sprites/demon_link/tunic1.png); }
.demon-link .tunic--active-2 { background-image: url(images/sprites/demon_link/tunic2.png); }
.demon-link .tunic--active-3 { background-image: url(images/sprites/demon_link/tunic3.png); }
.demon-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/demon_link/tunicbunny1.png); }
.demon-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/demon_link/tunicbunny2.png); }
.demon-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/demon_link/tunicbunny3.png); }

.frog-link .tunic--active-1 { background-image: url(images/sprites/frog_link/tunic1.png); }
.frog-link .tunic--active-2 { background-image: url(images/sprites/frog_link/tunic2.png); }
.frog-link .tunic--active-3 { background-image: url(images/sprites/frog_link/tunic3.png); }
.frog-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/frog_link/tunicbunny1.png); }
.frog-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/frog_link/tunicbunny2.png); }
.frog-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/frog_link/tunicbunny3.png); }

.ganondorf .tunic--active-1 { background-image: url(images/sprites/ganondorf/tunic1.png); }
.ganondorf .tunic--active-2 { background-image: url(images/sprites/ganondorf/tunic2.png); }
.ganondorf .tunic--active-3 { background-image: url(images/sprites/ganondorf/tunic3.png); }
.ganondorf .tunic--active-1.tunic--bunny { background-image: url(images/sprites/ganondorf/tunicbunny1.png); }
.ganondorf .tunic--active-2.tunic--bunny { background-image: url(images/sprites/ganondorf/tunicbunny2.png); }
.ganondorf .tunic--active-3.tunic--bunny { background-image: url(images/sprites/ganondorf/tunicbunny3.png); }

.garfield .tunic--active-1 { background-image: url(images/sprites/garfield/tunic1.png); }
.garfield .tunic--active-2 { background-image: url(images/sprites/garfield/tunic2.png); }
.garfield .tunic--active-3 { background-image: url(images/sprites/garfield/tunic3.png); }
.garfield .tunic--active-1.tunic--bunny { background-image: url(images/sprites/garfield/tunicbunny1.png); }
.garfield .tunic--active-2.tunic--bunny { background-image: url(images/sprites/garfield/tunicbunny2.png); }
.garfield .tunic--active-3.tunic--bunny { background-image: url(images/sprites/garfield/tunicbunny3.png); }

.girl .tunic--active-1 { background-image: url(images/sprites/girl/tunic1.png); }
.girl .tunic--active-2 { background-image: url(images/sprites/girl/tunic2.png); }
.girl .tunic--active-3 { background-image: url(images/sprites/girl/tunic3.png); }
.girl .tunic--active-1.tunic--bunny { background-image: url(images/sprites/girl/tunicbunny1.png); }
.girl .tunic--active-2.tunic--bunny { background-image: url(images/sprites/girl/tunicbunny2.png); }
.girl .tunic--active-3.tunic--bunny { background-image: url(images/sprites/girl/tunicbunny3.png); }

.headless-link .tunic--active-1 { background-image: url(images/sprites/headless_link/tunic1.png); }
.headless-link .tunic--active-2 { background-image: url(images/sprites/headless_link/tunic2.png); }
.headless-link .tunic--active-3 { background-image: url(images/sprites/headless_link/tunic3.png); }
.headless-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/headless_link/tunicbunny1.png); }
.headless-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/headless_link/tunicbunny2.png); }
.headless-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/headless_link/tunicbunny3.png); }

.inkling .tunic--active-1 { background-image: url(images/sprites/inkling/tunic1.png); }
.inkling .tunic--active-2 { background-image: url(images/sprites/inkling/tunic2.png); }
.inkling .tunic--active-3 { background-image: url(images/sprites/inkling/tunic3.png); }
.inkling .tunic--active-1.tunic--bunny { background-image: url(images/sprites/inkling/tunicbunny1.png); }
.inkling .tunic--active-2.tunic--bunny { background-image: url(images/sprites/inkling/tunicbunny2.png); }
.inkling .tunic--active-3.tunic--bunny { background-image: url(images/sprites/inkling/tunicbunny3.png); }

.invisible-man .tunic--active-1 { background-image: url(images/sprites/invisible_man/tunic1.png); }
.invisible-man .tunic--active-2 { background-image: url(images/sprites/invisible_man/tunic2.png); }
.invisible-man .tunic--active-3 { background-image: url(images/sprites/invisible_man/tunic3.png); }
.invisible-man .tunic--active-1.tunic--bunny { background-image: url(images/sprites/invisible_man/tunicbunny1.png); }
.invisible-man .tunic--active-2.tunic--bunny { background-image: url(images/sprites/invisible_man/tunicbunny2.png); }
.invisible-man .tunic--active-3.tunic--bunny { background-image: url(images/sprites/invisible_man/tunicbunny3.png); }

.kirby .tunic--active-1 { background-image: url(images/sprites/kirby/tunic1.png); }
.kirby .tunic--active-2 { background-image: url(images/sprites/kirby/tunic2.png); }
.kirby .tunic--active-3 { background-image: url(images/sprites/kirby/tunic3.png); }
.kirby .tunic--active-1.tunic--bunny { background-image: url(images/sprites/kirby/tunicbunny1.png); }
.kirby .tunic--active-2.tunic--bunny { background-image: url(images/sprites/kirby/tunicbunny2.png); }
.kirby .tunic--active-3.tunic--bunny { background-image: url(images/sprites/kirby/tunicbunny3.png); }

.kore8 .tunic--active-1 { background-image: url(images/sprites/kore8/tunic1.png); }
.kore8 .tunic--active-2 { background-image: url(images/sprites/kore8/tunic2.png); }
.kore8 .tunic--active-3 { background-image: url(images/sprites/kore8/tunic3.png); }
.kore8 .tunic--active-1.tunic--bunny { background-image: url(images/sprites/kore8/tunicbunny1.png); }
.kore8 .tunic--active-2.tunic--bunny { background-image: url(images/sprites/kore8/tunicbunny2.png); }
.kore8 .tunic--active-3.tunic--bunny { background-image: url(images/sprites/kore8/tunicbunny3.png); }

.luigi .tunic--active-1 { background-image: url(images/sprites/luigi/tunic1.png); }
.luigi .tunic--active-2 { background-image: url(images/sprites/luigi/tunic2.png); }
.luigi .tunic--active-3 { background-image: url(images/sprites/luigi/tunic3.png); }
.luigi .tunic--active-1.tunic--bunny { background-image: url(images/sprites/luigi/tunicbunny1.png); }
.luigi .tunic--active-2.tunic--bunny { background-image: url(images/sprites/luigi/tunicbunny2.png); }
.luigi .tunic--active-3.tunic--bunny { background-image: url(images/sprites/luigi/tunicbunny3.png); }

.maiden .tunic--active-1 { background-image: url(images/sprites/maiden/tunic1.png); }
.maiden .tunic--active-2 { background-image: url(images/sprites/maiden/tunic2.png); }
.maiden .tunic--active-3 { background-image: url(images/sprites/maiden/tunic3.png); }
.maiden .tunic--active-1.tunic--bunny { background-image: url(images/sprites/maiden/tunicbunny1.png); }
.maiden .tunic--active-2.tunic--bunny { background-image: url(images/sprites/maiden/tunicbunny2.png); }
.maiden .tunic--active-3.tunic--bunny { background-image: url(images/sprites/maiden/tunicbunny3.png); }

.maple-queen .tunic--active-1 { background-image: url(images/sprites/maple_queen/tunic1.png); }
.maple-queen .tunic--active-2 { background-image: url(images/sprites/maple_queen/tunic2.png); }
.maple-queen .tunic--active-3 { background-image: url(images/sprites/maple_queen/tunic3.png); }
.maple-queen .tunic--active-1.tunic--bunny { background-image: url(images/sprites/maple_queen/tunicbunny1.png); }
.maple-queen .tunic--active-2.tunic--bunny { background-image: url(images/sprites/maple_queen/tunicbunny2.png); }
.maple-queen .tunic--active-3.tunic--bunny { background-image: url(images/sprites/maple_queen/tunicbunny3.png); }

.mario .tunic--active-1 { background-image: url(images/sprites/mario/tunic1.png); }
.mario .tunic--active-2 { background-image: url(images/sprites/mario/tunic2.png); }
.mario .tunic--active-3 { background-image: url(images/sprites/mario/tunic3.png); }
.mario .tunic--active-1.tunic--bunny { background-image: url(images/sprites/mario/tunicbunny1.png); }
.mario .tunic--active-2.tunic--bunny { background-image: url(images/sprites/mario/tunicbunny2.png); }
.mario .tunic--active-3.tunic--bunny { background-image: url(images/sprites/mario/tunicbunny3.png); }

.marisa .tunic--active-1 { background-image: url(images/sprites/marisa/tunic1.png); }
.marisa .tunic--active-2 { background-image: url(images/sprites/marisa/tunic2.png); }
.marisa .tunic--active-3 { background-image: url(images/sprites/marisa/tunic3.png); }
.marisa .tunic--active-1.tunic--bunny { background-image: url(images/sprites/marisa/tunicbunny1.png); }
.marisa .tunic--active-2.tunic--bunny { background-image: url(images/sprites/marisa/tunicbunny2.png); }
.marisa .tunic--active-3.tunic--bunny { background-image: url(images/sprites/marisa/tunicbunny3.png); }

.minish-cap-link .tunic--active-1 { background-image: url(images/sprites/minish_cap_link/tunic1.png); }
.minish-cap-link .tunic--active-2 { background-image: url(images/sprites/minish_cap_link/tunic2.png); }
.minish-cap-link .tunic--active-3 { background-image: url(images/sprites/minish_cap_link/tunic3.png); }
.minish-cap-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/minish_cap_link/tunicbunny1.png); }
.minish-cap-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/minish_cap_link/tunicbunny2.png); }
.minish-cap-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/minish_cap_link/tunicbunny3.png); }

.modern-link .tunic--active-1 { background-image: url(images/sprites/modern_link/tunic1.png); }
.modern-link .tunic--active-2 { background-image: url(images/sprites/modern_link/tunic2.png); }
.modern-link .tunic--active-3 { background-image: url(images/sprites/modern_link/tunic3.png); }
.modern-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/modern_link/tunicbunny1.png); }
.modern-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/modern_link/tunicbunny2.png); }
.modern-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/modern_link/tunicbunny3.png); }

.mog .tunic--active-1 { background-image: url(images/sprites/mog/tunic1.png); }
.mog .tunic--active-2 { background-image: url(images/sprites/mog/tunic2.png); }
.mog .tunic--active-3 { background-image: url(images/sprites/mog/tunic3.png); }
.mog .tunic--active-1.tunic--bunny { background-image: url(images/sprites/mog/tunicbunny1.png); }
.mog .tunic--active-2.tunic--bunny { background-image: url(images/sprites/mog/tunicbunny2.png); }
.mog .tunic--active-3.tunic--bunny { background-image: url(images/sprites/mog/tunicbunny3.png); }

.mouse .tunic--active-1 { background-image: url(images/sprites/mouse/tunic1.png); }
.mouse .tunic--active-2 { background-image: url(images/sprites/mouse/tunic2.png); }
.mouse .tunic--active-3 { background-image: url(images/sprites/mouse/tunic3.png); }
.mouse .tunic--active-1.tunic--bunny { background-image: url(images/sprites/mouse/tunicbunny1.png); }
.mouse .tunic--active-2.tunic--bunny { background-image: url(images/sprites/mouse/tunicbunny2.png); }
.mouse .tunic--active-3.tunic--bunny { background-image: url(images/sprites/mouse/tunicbunny3.png); }

.nature-link .tunic--active-1 { background-image: url(images/sprites/nature_link/tunic1.png); }
.nature-link .tunic--active-2 { background-image: url(images/sprites/nature_link/tunic2.png); }
.nature-link .tunic--active-3 { background-image: url(images/sprites/nature_link/tunic3.png); }
.nature-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/nature_link/tunicbunny1.png); }
.nature-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/nature_link/tunicbunny2.png); }
.nature-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/nature_link/tunicbunny3.png); }

.negative-link .tunic--active-1 { background-image: url(images/sprites/negative_link/tunic1.png); }
.negative-link .tunic--active-2 { background-image: url(images/sprites/negative_link/tunic2.png); }
.negative-link .tunic--active-3 { background-image: url(images/sprites/negative_link/tunic3.png); }
.negative-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/negative_link/tunicbunny1.png); }
.negative-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/negative_link/tunicbunny2.png); }
.negative-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/negative_link/tunicbunny3.png); }

.neon-link .tunic--active-1 { background-image: url(images/sprites/neon_link/tunic1.png); }
.neon-link .tunic--active-2 { background-image: url(images/sprites/neon_link/tunic2.png); }
.neon-link .tunic--active-3 { background-image: url(images/sprites/neon_link/tunic3.png); }
.neon-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/neon_link/tunicbunny1.png); }
.neon-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/neon_link/tunicbunny2.png); }
.neon-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/neon_link/tunicbunny3.png); }

.old-man .tunic--active-1 { background-image: url(images/sprites/old_man/tunic1.png); }
.old-man .tunic--active-2 { background-image: url(images/sprites/old_man/tunic2.png); }
.old-man .tunic--active-3 { background-image: url(images/sprites/old_man/tunic3.png); }
.old-man .tunic--active-1.tunic--bunny { background-image: url(images/sprites/old_man/tunicbunny1.png); }
.old-man .tunic--active-2.tunic--bunny { background-image: url(images/sprites/old_man/tunicbunny2.png); }
.old-man .tunic--active-3.tunic--bunny { background-image: url(images/sprites/old_man/tunicbunny3.png); }

.pink-ribbon-link .tunic--active-1 { background-image: url(images/sprites/pink_ribbon_link/tunic1.png); }
.pink-ribbon-link .tunic--active-2 { background-image: url(images/sprites/pink_ribbon_link/tunic2.png); }
.pink-ribbon-link .tunic--active-3 { background-image: url(images/sprites/pink_ribbon_link/tunic3.png); }
.pink-ribbon-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/pink_ribbon_link/tunicbunny1.png); }
.pink-ribbon-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/pink_ribbon_link/tunicbunny2.png); }
.pink-ribbon-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/pink_ribbon_link/tunicbunny3.png); }

.pony .tunic--active-1 { background-image: url(images/sprites/pony/tunic1.png); }
.pony .tunic--active-2 { background-image: url(images/sprites/pony/tunic2.png); }
.pony .tunic--active-3 { background-image: url(images/sprites/pony/tunic3.png); }
.pony .tunic--active-1.tunic--bunny { background-image: url(images/sprites/pony/tunicbunny1.png); }
.pony .tunic--active-2.tunic--bunny { background-image: url(images/sprites/pony/tunicbunny2.png); }
.pony .tunic--active-3.tunic--bunny { background-image: url(images/sprites/pony/tunicbunny3.png); }

.popoi .tunic--active-1 { background-image: url(images/sprites/popoi/tunic1.png); }
.popoi .tunic--active-2 { background-image: url(images/sprites/popoi/tunic2.png); }
.popoi .tunic--active-3 { background-image: url(images/sprites/popoi/tunic3.png); }
.popoi .tunic--active-1.tunic--bunny { background-image: url(images/sprites/popoi/tunicbunny1.png); }
.popoi .tunic--active-2.tunic--bunny { background-image: url(images/sprites/popoi/tunicbunny2.png); }
.popoi .tunic--active-3.tunic--bunny { background-image: url(images/sprites/popoi/tunicbunny3.png); }

.pug .tunic--active-1 { background-image: url(images/sprites/pug/tunic1.png); }
.pug .tunic--active-2 { background-image: url(images/sprites/pug/tunic2.png); }
.pug .tunic--active-3 { background-image: url(images/sprites/pug/tunic3.png); }
.pug .tunic--active-1.tunic--bunny { background-image: url(images/sprites/pug/tunicbunny1.png); }
.pug .tunic--active-2.tunic--bunny { background-image: url(images/sprites/pug/tunicbunny2.png); }
.pug .tunic--active-3.tunic--bunny { background-image: url(images/sprites/pug/tunicbunny3.png); }

.purple-chest .tunic--active-1 { background-image: url(images/sprites/purple_chest/tunic1.png); }
.purple-chest .tunic--active-2 { background-image: url(images/sprites/purple_chest/tunic2.png); }
.purple-chest .tunic--active-3 { background-image: url(images/sprites/purple_chest/tunic3.png); }
.purple-chest .tunic--active-1.tunic--bunny { background-image: url(images/sprites/purple_chest/tunicbunny1.png); }
.purple-chest .tunic--active-2.tunic--bunny { background-image: url(images/sprites/purple_chest/tunicbunny2.png); }
.purple-chest .tunic--active-3.tunic--bunny { background-image: url(images/sprites/purple_chest/tunicbunny3.png); }

.roy-koopa .tunic--active-1 { background-image: url(images/sprites/roy_koopa/tunic1.png); }
.roy-koopa .tunic--active-2 { background-image: url(images/sprites/roy_koopa/tunic2.png); }
.roy-koopa .tunic--active-3 { background-image: url(images/sprites/roy_koopa/tunic3.png); }
.roy-koopa .tunic--active-1.tunic--bunny { background-image: url(images/sprites/roy_koopa/tunicbunny1.png); }
.roy-koopa .tunic--active-2.tunic--bunny { background-image: url(images/sprites/roy_koopa/tunicbunny2.png); }
.roy-koopa .tunic--active-3.tunic--bunny { background-image: url(images/sprites/roy_koopa/tunicbunny3.png); }

.rumia .tunic--active-1 { background-image: url(images/sprites/rumia/tunic1.png); }
.rumia .tunic--active-2 { background-image: url(images/sprites/rumia/tunic2.png); }
.rumia .tunic--active-3 { background-image: url(images/sprites/rumia/tunic3.png); }
.rumia .tunic--active-1.tunic--bunny { background-image: url(images/sprites/rumia/tunicbunny1.png); }
.rumia .tunic--active-2.tunic--bunny { background-image: url(images/sprites/rumia/tunicbunny2.png); }
.rumia .tunic--active-3.tunic--bunny { background-image: url(images/sprites/rumia/tunicbunny3.png); }

.samus .tunic--active-1 { background-image: url(images/sprites/samus/tunic1.png); }
.samus .tunic--active-2 { background-image: url(images/sprites/samus/tunic2.png); }
.samus .tunic--active-3 { background-image: url(images/sprites/samus/tunic3.png); }
.samus .tunic--active-1.tunic--bunny { background-image: url(images/sprites/samus/tunicbunny1.png); }
.samus .tunic--active-2.tunic--bunny { background-image: url(images/sprites/samus/tunicbunny2.png); }
.samus .tunic--active-3.tunic--bunny { background-image: url(images/sprites/samus/tunicbunny3.png); }

.santa-link .tunic--active-1 { background-image: url(images/sprites/santa_link/tunic1.png); }
.santa-link .tunic--active-2 { background-image: url(images/sprites/santa_link/tunic2.png); }
.santa-link .tunic--active-3 { background-image: url(images/sprites/santa_link/tunic3.png); }
.santa-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/santa_link/tunicbunny1.png); }
.santa-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/santa_link/tunicbunny2.png); }
.santa-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/santa_link/tunicbunny3.png); }

.shadow-saku .tunic--active-1 { background-image: url(images/sprites/shadow_saku/tunic1.png); }
.shadow-saku .tunic--active-2 { background-image: url(images/sprites/shadow_saku/tunic2.png); }
.shadow-saku .tunic--active-3 { background-image: url(images/sprites/shadow_saku/tunic3.png); }
.shadow-saku .tunic--active-1.tunic--bunny { background-image: url(images/sprites/shadow_saku/tunicbunny1.png); }
.shadow-saku .tunic--active-2.tunic--bunny { background-image: url(images/sprites/shadow_saku/tunicbunny2.png); }
.shadow-saku .tunic--active-3.tunic--bunny { background-image: url(images/sprites/shadow_saku/tunicbunny3.png); }

.soda-can .tunic--active-1 { background-image: url(images/sprites/soda_can/tunic1.png); }
.soda-can .tunic--active-2 { background-image: url(images/sprites/soda_can/tunic2.png); }
.soda-can .tunic--active-3 { background-image: url(images/sprites/soda_can/tunic3.png); }
.soda-can .tunic--active-1.tunic--bunny { background-image: url(images/sprites/soda_can/tunicbunny1.png); }
.soda-can .tunic--active-2.tunic--bunny { background-image: url(images/sprites/soda_can/tunicbunny2.png); }
.soda-can .tunic--active-3.tunic--bunny { background-image: url(images/sprites/soda_can/tunicbunny3.png); }

.static-link .tunic--active-1 { background-image: url(images/sprites/static_link/tunic1.png); }
.static-link .tunic--active-2 { background-image: url(images/sprites/static_link/tunic2.png); }
.static-link .tunic--active-3 { background-image: url(images/sprites/static_link/tunic3.png); }
.static-link .tunic--active-1.tunic--bunny { background-image: url(images/sprites/static_link/tunicbunny1.png); }
.static-link .tunic--active-2.tunic--bunny { background-image: url(images/sprites/static_link/tunicbunny2.png); }
.static-link .tunic--active-3.tunic--bunny { background-image: url(images/sprites/static_link/tunicbunny3.png); }

.super-bunny .tunic--active-1 { background-image: url(images/sprites/super_bunny/tunic1.png); }
.super-bunny .tunic--active-2 { background-image: url(images/sprites/super_bunny/tunic2.png); }
.super-bunny .tunic--active-3 { background-image: url(images/sprites/super_bunny/tunic3.png); }
.super-bunny .tunic--active-1.tunic--bunny { background-image: url(images/sprites/super_bunny/tunicbunny1.png); }
.super-bunny .tunic--active-2.tunic--bunny { background-image: url(images/sprites/super_bunny/tunicbunny2.png); }
.super-bunny .tunic--active-3.tunic--bunny { background-image: url(images/sprites/super_bunny/tunicbunny3.png); }

.swatchy .tunic--active-1 { background-image: url(images/sprites/swatchy/tunic1.png); }
.swatchy .tunic--active-2 { background-image: url(images/sprites/swatchy/tunic2.png); }
.swatchy .tunic--active-3 { background-image: url(images/sprites/swatchy/tunic3.png); }
.swatchy .tunic--active-1.tunic--bunny { background-image: url(images/sprites/swatchy/tunicbunny1.png); }
.swatchy .tunic--active-2.tunic--bunny { background-image: url(images/sprites/swatchy/tunicbunny2.png); }
.swatchy .tunic--active-3.tunic--bunny { background-image: url(images/sprites/swatchy/tunicbunny3.png); }

.tingle .tunic--active-1 { background-image: url(images/sprites/tingle/tunic1.png); }
.tingle .tunic--active-2 { background-image: url(images/sprites/tingle/tunic2.png); }
.tingle .tunic--active-3 { background-image: url(images/sprites/tingle/tunic3.png); }
.tingle .tunic--active-1.tunic--bunny { background-image: url(images/sprites/tingle/tunicbunny1.png); }
.tingle .tunic--active-2.tunic--bunny { background-image: url(images/sprites/tingle/tunicbunny2.png); }
.tingle .tunic--active-3.tunic--bunny { background-image: url(images/sprites/tingle/tunicbunny3.png); }

.toad .tunic--active-1 { background-image: url(images/sprites/toad/tunic1.png); }
.toad .tunic--active-2 { background-image: url(images/sprites/toad/tunic2.png); }
.toad .tunic--active-3 { background-image: url(images/sprites/toad/tunic3.png); }
.toad .tunic--active-1.tunic--bunny { background-image: url(images/sprites/toad/tunicbunny1.png); }
.toad .tunic--active-2.tunic--bunny { background-image: url(images/sprites/toad/tunicbunny2.png); }
.toad .tunic--active-3.tunic--bunny { background-image: url(images/sprites/toad/tunicbunny3.png); }

.valeera .tunic--active-1 { background-image: url(images/sprites/valeera/tunic1.png); }
.valeera .tunic--active-2 { background-image: url(images/sprites/valeera/tunic2.png); }
.valeera .tunic--active-3 { background-image: url(images/sprites/valeera/tunic3.png); }
.valeera .tunic--active-1.tunic--bunny { background-image: url(images/sprites/valeera/tunicbunny1.png); }
.valeera .tunic--active-2.tunic--bunny { background-image: url(images/sprites/valeera/tunicbunny2.png); }
.valeera .tunic--active-3.tunic--bunny { background-image: url(images/sprites/valeera/tunicbunny3.png); }

.vitreous .tunic--active-1 { background-image: url(images/sprites/vitreous/tunic1.png); }
.vitreous .tunic--active-2 { background-image: url(images/sprites/vitreous/tunic2.png); }
.vitreous .tunic--active-3 { background-image: url(images/sprites/vitreous/tunic3.png); }
.vitreous .tunic--active-1.tunic--bunny { background-image: url(images/sprites/vitreous/tunicbunny1.png); }
.vitreous .tunic--active-2.tunic--bunny { background-image: url(images/sprites/vitreous/tunicbunny2.png); }
.vitreous .tunic--active-3.tunic--bunny { background-image: url(images/sprites/vitreous/tunicbunny3.png); }

.vivi .tunic--active-1 { background-image: url(images/sprites/vivi/tunic1.png); }
.vivi .tunic--active-2 { background-image: url(images/sprites/vivi/tunic2.png); }
.vivi .tunic--active-3 { background-image: url(images/sprites/vivi/tunic3.png); }
.vivi .tunic--active-1.tunic--bunny { background-image: url(images/sprites/vivi/tunicbunny1.png); }
.vivi .tunic--active-2.tunic--bunny { background-image: url(images/sprites/vivi/tunicbunny2.png); }
.vivi .tunic--active-3.tunic--bunny { background-image: url(images/sprites/vivi/tunicbunny3.png); }

.will .tunic--active-1 { background-image: url(images/sprites/will/tunic1.png); }
.will .tunic--active-2 { background-image: url(images/sprites/will/tunic2.png); }
.will .tunic--active-3 { background-image: url(images/sprites/will/tunic3.png); }
.will .tunic--active-1.tunic--bunny { background-image: url(images/sprites/will/tunicbunny1.png); }
.will .tunic--active-2.tunic--bunny { background-image: url(images/sprites/will/tunicbunny2.png); }
.will .tunic--active-3.tunic--bunny { background-image: url(images/sprites/will/tunicbunny3.png); }

.wizzrobe .tunic--active-1 { background-image: url(images/sprites/wizzrobe/tunic1.png); }
.wizzrobe .tunic--active-2 { background-image: url(images/sprites/wizzrobe/tunic2.png); }
.wizzrobe .tunic--active-3 { background-image: url(images/sprites/wizzrobe/tunic3.png); }
.wizzrobe .tunic--active-1.tunic--bunny { background-image: url(images/sprites/wizzrobe/tunicbunny1.png); }
.wizzrobe .tunic--active-2.tunic--bunny { background-image: url(images/sprites/wizzrobe/tunicbunny2.png); }
.wizzrobe .tunic--active-3.tunic--bunny { background-image: url(images/sprites/wizzrobe/tunicbunny3.png); }

.yunica .tunic--active-1 { background-image: url(images/sprites/yunica/tunic1.png); }
.yunica .tunic--active-2 { background-image: url(images/sprites/yunica/tunic2.png); }
.yunica .tunic--active-3 { background-image: url(images/sprites/yunica/tunic3.png); }
.yunica .tunic--active-1.tunic--bunny { background-image: url(images/sprites/yunica/tunicbunny1.png); }
.yunica .tunic--active-2.tunic--bunny { background-image: url(images/sprites/yunica/tunicbunny2.png); }
.yunica .tunic--active-3.tunic--bunny { background-image: url(images/sprites/yunica/tunicbunny3.png); }

.zelda .tunic--active-1 { background-image: url(images/sprites/zelda/tunic1.png); }
.zelda .tunic--active-2 { background-image: url(images/sprites/zelda/tunic2.png); }
.zelda .tunic--active-3 { background-image: url(images/sprites/zelda/tunic3.png); }
.zelda .tunic--active-1.tunic--bunny { background-image: url(images/sprites/zelda/tunicbunny1.png); }
.zelda .tunic--active-2.tunic--bunny { background-image: url(images/sprites/zelda/tunicbunny2.png); }
.zelda .tunic--active-3.tunic--bunny { background-image: url(images/sprites/zelda/tunicbunny3.png); }

.zero-suit-samus .tunic--active-1 { background-image: url(images/sprites/zero_suit_samus/tunic1.png); }
.zero-suit-samus .tunic--active-2 { background-image: url(images/sprites/zero_suit_samus/tunic2.png); }
.zero-suit-samus .tunic--active-3 { background-image: url(images/sprites/zero_suit_samus/tunic3.png); }
.zero-suit-samus .tunic--active-1.tunic--bunny { background-image: url(images/sprites/zero_suit_samus/tunicbunny1.png); }
.zero-suit-samus .tunic--active-2.tunic--bunny { background-image: url(images/sprites/zero_suit_samus/tunicbunny2.png); }
.zero-suit-samus .tunic--active-3.tunic--bunny { background-image: url(images/sprites/zero_suit_samus/tunicbunny3.png); }

.zora .tunic--active-1 { background-image: url(images/sprites/zora/tunic1.png); }
.zora .tunic--active-2 { background-image: url(images/sprites/zora/tunic2.png); }
.zora .tunic--active-3 { background-image: url(images/sprites/zora/tunic3.png); }
.zora .tunic--active-1.tunic--bunny { background-image: url(images/sprites/zora/tunicbunny1.png); }
.zora .tunic--active-2.tunic--bunny { background-image: url(images/sprites/zora/tunicbunny2.png); }
.zora .tunic--active-3.tunic--bunny { background-image: url(images/sprites/zora/tunicbunny3.png); }
