.abigail .tunic--active-1 { background-image: url(images/sprites/abigail/tunic1.png); }
.abigail .tunic--active-2 { background-image: url(images/sprites/abigail/tunic2.png); }
.abigail .tunic--active-3 { background-image: url(images/sprites/abigail/tunic3.png); }

.alice .tunic--active-1 { background-image: url(images/sprites/alice/tunic1.png); }
.alice .tunic--active-2 { background-image: url(images/sprites/alice/tunic2.png); }
.alice .tunic--active-3 { background-image: url(images/sprites/alice/tunic3.png); }

.arrghus .tunic--active-1 { background-image: url(images/sprites/arrghus/tunic1.png); }
.arrghus .tunic--active-2 { background-image: url(images/sprites/arrghus/tunic2.png); }
.arrghus .tunic--active-3 { background-image: url(images/sprites/arrghus/tunic3.png); }

.bandit .tunic--active-1 { background-image: url(images/sprites/bandit/tunic1.png); }
.bandit .tunic--active-2 { background-image: url(images/sprites/bandit/tunic2.png); }
.bandit .tunic--active-3 { background-image: url(images/sprites/bandit/tunic3.png); }

.batman .tunic--active-1 { background-image: url(images/sprites/batman/tunic1.png); }
.batman .tunic--active-2 { background-image: url(images/sprites/batman/tunic2.png); }
.batman .tunic--active-3 { background-image: url(images/sprites/batman/tunic3.png); }

.beau .tunic--active-1 { background-image: url(images/sprites/beau/tunic1.png); }
.beau .tunic--active-2 { background-image: url(images/sprites/beau/tunic2.png); }
.beau .tunic--active-3 { background-image: url(images/sprites/beau/tunic3.png); }

.bewp .tunic--active-1 { background-image: url(images/sprites/bewp/tunic1.png); }
.bewp .tunic--active-2 { background-image: url(images/sprites/bewp/tunic2.png); }
.bewp .tunic--active-3 { background-image: url(images/sprites/bewp/tunic3.png); }

.bigkey .tunic--active-1 { background-image: url(images/sprites/bigkey/tunic1.png); }
.bigkey .tunic--active-2 { background-image: url(images/sprites/bigkey/tunic2.png); }
.bigkey .tunic--active-3 { background-image: url(images/sprites/bigkey/tunic3.png); }

.birb .tunic--active-1 { background-image: url(images/sprites/birb/tunic1.png); }
.birb .tunic--active-2 { background-image: url(images/sprites/birb/tunic2.png); }
.birb .tunic--active-3 { background-image: url(images/sprites/birb/tunic3.png); }

.blackmage .tunic--active-1 { background-image: url(images/sprites/blackmage/tunic1.png); }
.blackmage .tunic--active-2 { background-image: url(images/sprites/blackmage/tunic2.png); }
.blackmage .tunic--active-3 { background-image: url(images/sprites/blackmage/tunic3.png); }

.blacksmithlink .tunic--active-1 { background-image: url(images/sprites/blacksmithlink/tunic1.png); }
.blacksmithlink .tunic--active-2 { background-image: url(images/sprites/blacksmithlink/tunic2.png); }
.blacksmithlink .tunic--active-3 { background-image: url(images/sprites/blacksmithlink/tunic3.png); }

.blossom .tunic--active-1 { background-image: url(images/sprites/blossom/tunic1.png); }
.blossom .tunic--active-2 { background-image: url(images/sprites/blossom/tunic2.png); }
.blossom .tunic--active-3 { background-image: url(images/sprites/blossom/tunic3.png); }

.bob .tunic--active-1 { background-image: url(images/sprites/bob/tunic1.png); }
.bob .tunic--active-2 { background-image: url(images/sprites/bob/tunic2.png); }
.bob .tunic--active-3 { background-image: url(images/sprites/bob/tunic3.png); }

.boo-two .tunic--active-1 { background-image: url(images/sprites/boo-two/tunic1.png); }
.boo-two .tunic--active-2 { background-image: url(images/sprites/boo-two/tunic2.png); }
.boo-two .tunic--active-3 { background-image: url(images/sprites/boo-two/tunic3.png); }

.boo .tunic--active-1 { background-image: url(images/sprites/boo/tunic1.png); }
.boo .tunic--active-2 { background-image: url(images/sprites/boo/tunic2.png); }
.boo .tunic--active-3 { background-image: url(images/sprites/boo/tunic3.png); }

.bottle-o-goo .tunic--active-1 { background-image: url(images/sprites/bottle-o-goo/tunic1.png); }
.bottle-o-goo .tunic--active-2 { background-image: url(images/sprites/bottle-o-goo/tunic2.png); }
.bottle-o-goo .tunic--active-3 { background-image: url(images/sprites/bottle-o-goo/tunic3.png); }

.bowser .tunic--active-1 { background-image: url(images/sprites/bowser/tunic1.png); }
.bowser .tunic--active-2 { background-image: url(images/sprites/bowser/tunic2.png); }
.bowser .tunic--active-3 { background-image: url(images/sprites/bowser/tunic3.png); }

.branch .tunic--active-1 { background-image: url(images/sprites/branch/tunic1.png); }
.branch .tunic--active-2 { background-image: url(images/sprites/branch/tunic2.png); }
.branch .tunic--active-3 { background-image: url(images/sprites/branch/tunic3.png); }

.broccoli .tunic--active-1 { background-image: url(images/sprites/broccoli/tunic1.png); }
.broccoli .tunic--active-2 { background-image: url(images/sprites/broccoli/tunic2.png); }
.broccoli .tunic--active-3 { background-image: url(images/sprites/broccoli/tunic3.png); }

.bronzor .tunic--active-1 { background-image: url(images/sprites/bronzor/tunic1.png); }
.bronzor .tunic--active-2 { background-image: url(images/sprites/bronzor/tunic2.png); }
.bronzor .tunic--active-3 { background-image: url(images/sprites/bronzor/tunic3.png); }

.bsboy .tunic--active-1 { background-image: url(images/sprites/bsboy/tunic1.png); }
.bsboy .tunic--active-2 { background-image: url(images/sprites/bsboy/tunic2.png); }
.bsboy .tunic--active-3 { background-image: url(images/sprites/bsboy/tunic3.png); }

.bsgirl .tunic--active-1 { background-image: url(images/sprites/bsgirl/tunic1.png); }
.bsgirl .tunic--active-2 { background-image: url(images/sprites/bsgirl/tunic2.png); }
.bsgirl .tunic--active-3 { background-image: url(images/sprites/bsgirl/tunic3.png); }

.bubbles .tunic--active-1 { background-image: url(images/sprites/bubbles/tunic1.png); }
.bubbles .tunic--active-2 { background-image: url(images/sprites/bubbles/tunic2.png); }
.bubbles .tunic--active-3 { background-image: url(images/sprites/bubbles/tunic3.png); }

.bullet-bill .tunic--active-1 { background-image: url(images/sprites/bullet-bill/tunic1.png); }
.bullet-bill .tunic--active-2 { background-image: url(images/sprites/bullet-bill/tunic2.png); }
.bullet-bill .tunic--active-3 { background-image: url(images/sprites/bullet-bill/tunic3.png); }

.buttercup .tunic--active-1 { background-image: url(images/sprites/buttercup/tunic1.png); }
.buttercup .tunic--active-2 { background-image: url(images/sprites/buttercup/tunic2.png); }
.buttercup .tunic--active-3 { background-image: url(images/sprites/buttercup/tunic3.png); }

.cactuar .tunic--active-1 { background-image: url(images/sprites/cactuar/tunic1.png); }
.cactuar .tunic--active-2 { background-image: url(images/sprites/cactuar/tunic2.png); }
.cactuar .tunic--active-3 { background-image: url(images/sprites/cactuar/tunic3.png); }

.casual-zelda .tunic--active-1 { background-image: url(images/sprites/casual-zelda/tunic1.png); }
.casual-zelda .tunic--active-2 { background-image: url(images/sprites/casual-zelda/tunic2.png); }
.casual-zelda .tunic--active-3 { background-image: url(images/sprites/casual-zelda/tunic3.png); }

.cat .tunic--active-1 { background-image: url(images/sprites/cat/tunic1.png); }
.cat .tunic--active-2 { background-image: url(images/sprites/cat/tunic2.png); }
.cat .tunic--active-3 { background-image: url(images/sprites/cat/tunic3.png); }

.catboo .tunic--active-1 { background-image: url(images/sprites/catboo/tunic1.png); }
.catboo .tunic--active-2 { background-image: url(images/sprites/catboo/tunic2.png); }
.catboo .tunic--active-3 { background-image: url(images/sprites/catboo/tunic3.png); }

.cdilink .tunic--active-1 { background-image: url(images/sprites/cdilink/tunic1.png); }
.cdilink .tunic--active-2 { background-image: url(images/sprites/cdilink/tunic2.png); }
.cdilink .tunic--active-3 { background-image: url(images/sprites/cdilink/tunic3.png); }

.celes .tunic--active-1 { background-image: url(images/sprites/celes/tunic1.png); }
.celes .tunic--active-2 { background-image: url(images/sprites/celes/tunic2.png); }
.celes .tunic--active-3 { background-image: url(images/sprites/celes/tunic3.png); }

.cheepcheep .tunic--active-1 { background-image: url(images/sprites/cheepcheep/tunic1.png); }
.cheepcheep .tunic--active-2 { background-image: url(images/sprites/cheepcheep/tunic2.png); }
.cheepcheep .tunic--active-3 { background-image: url(images/sprites/cheepcheep/tunic3.png); }

.cirno .tunic--active-1 { background-image: url(images/sprites/cirno/tunic1.png); }
.cirno .tunic--active-2 { background-image: url(images/sprites/cirno/tunic2.png); }
.cirno .tunic--active-3 { background-image: url(images/sprites/cirno/tunic3.png); }

.clifford .tunic--active-1 { background-image: url(images/sprites/clifford/tunic1.png); }
.clifford .tunic--active-2 { background-image: url(images/sprites/clifford/tunic2.png); }
.clifford .tunic--active-3 { background-image: url(images/sprites/clifford/tunic3.png); }

.clyde .tunic--active-1 { background-image: url(images/sprites/clyde/tunic1.png); }
.clyde .tunic--active-2 { background-image: url(images/sprites/clyde/tunic2.png); }
.clyde .tunic--active-3 { background-image: url(images/sprites/clyde/tunic3.png); }

.conker .tunic--active-1 { background-image: url(images/sprites/conker/tunic1.png); }
.conker .tunic--active-2 { background-image: url(images/sprites/conker/tunic2.png); }
.conker .tunic--active-3 { background-image: url(images/sprites/conker/tunic3.png); }

.cucco .tunic--active-1 { background-image: url(images/sprites/cucco/tunic1.png); }
.cucco .tunic--active-2 { background-image: url(images/sprites/cucco/tunic2.png); }
.cucco .tunic--active-3 { background-image: url(images/sprites/cucco/tunic3.png); }

.cursor .tunic--active-1 { background-image: url(images/sprites/cursor/tunic1.png); }
.cursor .tunic--active-2 { background-image: url(images/sprites/cursor/tunic2.png); }
.cursor .tunic--active-3 { background-image: url(images/sprites/cursor/tunic3.png); }

.darkboy .tunic--active-1 { background-image: url(images/sprites/darkboy/tunic1.png); }
.darkboy .tunic--active-2 { background-image: url(images/sprites/darkboy/tunic2.png); }
.darkboy .tunic--active-3 { background-image: url(images/sprites/darkboy/tunic3.png); }

.darkgirl .tunic--active-1 { background-image: url(images/sprites/darkgirl/tunic1.png); }
.darkgirl .tunic--active-2 { background-image: url(images/sprites/darkgirl/tunic2.png); }
.darkgirl .tunic--active-3 { background-image: url(images/sprites/darkgirl/tunic3.png); }

.darklink-tunic .tunic--active-1 { background-image: url(images/sprites/darklink-tunic/tunic1.png); }
.darklink-tunic .tunic--active-2 { background-image: url(images/sprites/darklink-tunic/tunic2.png); }
.darklink-tunic .tunic--active-3 { background-image: url(images/sprites/darklink-tunic/tunic3.png); }

.darklink .tunic--active-1 { background-image: url(images/sprites/darklink/tunic1.png); }
.darklink .tunic--active-2 { background-image: url(images/sprites/darklink/tunic2.png); }
.darklink .tunic--active-3 { background-image: url(images/sprites/darklink/tunic3.png); }

.darkswatchy .tunic--active-1 { background-image: url(images/sprites/darkswatchy/tunic1.png); }
.darkswatchy .tunic--active-2 { background-image: url(images/sprites/darkswatchy/tunic2.png); }
.darkswatchy .tunic--active-3 { background-image: url(images/sprites/darkswatchy/tunic3.png); }

.darkzelda .tunic--active-1 { background-image: url(images/sprites/darkzelda/tunic1.png); }
.darkzelda .tunic--active-2 { background-image: url(images/sprites/darkzelda/tunic2.png); }
.darkzelda .tunic--active-3 { background-image: url(images/sprites/darkzelda/tunic3.png); }

.darkzora .tunic--active-1 { background-image: url(images/sprites/darkzora/tunic1.png); }
.darkzora .tunic--active-2 { background-image: url(images/sprites/darkzora/tunic2.png); }
.darkzora .tunic--active-3 { background-image: url(images/sprites/darkzora/tunic3.png); }

.deadrock .tunic--active-1 { background-image: url(images/sprites/deadrock/tunic1.png); }
.deadrock .tunic--active-2 { background-image: url(images/sprites/deadrock/tunic2.png); }
.deadrock .tunic--active-3 { background-image: url(images/sprites/deadrock/tunic3.png); }

.decidueye .tunic--active-1 { background-image: url(images/sprites/decidueye/tunic1.png); }
.decidueye .tunic--active-2 { background-image: url(images/sprites/decidueye/tunic2.png); }
.decidueye .tunic--active-3 { background-image: url(images/sprites/decidueye/tunic3.png); }

.demonlink .tunic--active-1 { background-image: url(images/sprites/demonlink/tunic1.png); }
.demonlink .tunic--active-2 { background-image: url(images/sprites/demonlink/tunic2.png); }
.demonlink .tunic--active-3 { background-image: url(images/sprites/demonlink/tunic3.png); }

.dragonite .tunic--active-1 { background-image: url(images/sprites/dragonite/tunic1.png); }
.dragonite .tunic--active-2 { background-image: url(images/sprites/dragonite/tunic2.png); }
.dragonite .tunic--active-3 { background-image: url(images/sprites/dragonite/tunic3.png); }

.drake .tunic--active-1 { background-image: url(images/sprites/drake/tunic1.png); }
.drake .tunic--active-2 { background-image: url(images/sprites/drake/tunic2.png); }
.drake .tunic--active-3 { background-image: url(images/sprites/drake/tunic3.png); }

.eggplant .tunic--active-1 { background-image: url(images/sprites/eggplant/tunic1.png); }
.eggplant .tunic--active-2 { background-image: url(images/sprites/eggplant/tunic2.png); }
.eggplant .tunic--active-3 { background-image: url(images/sprites/eggplant/tunic3.png); }

.emosaru .tunic--active-1 { background-image: url(images/sprites/emosaru/tunic1.png); }
.emosaru .tunic--active-2 { background-image: url(images/sprites/emosaru/tunic2.png); }
.emosaru .tunic--active-3 { background-image: url(images/sprites/emosaru/tunic3.png); }

.ezlo .tunic--active-1 { background-image: url(images/sprites/ezlo/tunic1.png); }
.ezlo .tunic--active-2 { background-image: url(images/sprites/ezlo/tunic2.png); }
.ezlo .tunic--active-3 { background-image: url(images/sprites/ezlo/tunic3.png); }

.finny-bear .tunic--active-1 { background-image: url(images/sprites/finny-bear/tunic1.png); }
.finny-bear .tunic--active-2 { background-image: url(images/sprites/finny-bear/tunic2.png); }
.finny-bear .tunic--active-3 { background-image: url(images/sprites/finny-bear/tunic3.png); }

.fish-floodgate .tunic--active-1 { background-image: url(images/sprites/fish-floodgate/tunic1.png); }
.fish-floodgate .tunic--active-2 { background-image: url(images/sprites/fish-floodgate/tunic2.png); }
.fish-floodgate .tunic--active-3 { background-image: url(images/sprites/fish-floodgate/tunic3.png); }

.four-swords-link .tunic--active-1 { background-image: url(images/sprites/four-swords-link/tunic1.png); }
.four-swords-link .tunic--active-2 { background-image: url(images/sprites/four-swords-link/tunic2.png); }
.four-swords-link .tunic--active-3 { background-image: url(images/sprites/four-swords-link/tunic3.png); }

.foxlink .tunic--active-1 { background-image: url(images/sprites/foxlink/tunic1.png); }
.foxlink .tunic--active-2 { background-image: url(images/sprites/foxlink/tunic2.png); }
.foxlink .tunic--active-3 { background-image: url(images/sprites/foxlink/tunic3.png); }

.frisk .tunic--active-1 { background-image: url(images/sprites/frisk/tunic1.png); }
.frisk .tunic--active-2 { background-image: url(images/sprites/frisk/tunic2.png); }
.frisk .tunic--active-3 { background-image: url(images/sprites/frisk/tunic3.png); }

.froglink .tunic--active-1 { background-image: url(images/sprites/froglink/tunic1.png); }
.froglink .tunic--active-2 { background-image: url(images/sprites/froglink/tunic2.png); }
.froglink .tunic--active-3 { background-image: url(images/sprites/froglink/tunic3.png); }

.gamer .tunic--active-1 { background-image: url(images/sprites/gamer/tunic1.png); }
.gamer .tunic--active-2 { background-image: url(images/sprites/gamer/tunic2.png); }
.gamer .tunic--active-3 { background-image: url(images/sprites/gamer/tunic3.png); }

.ganondorf .tunic--active-1 { background-image: url(images/sprites/ganondorf/tunic1.png); }
.ganondorf .tunic--active-2 { background-image: url(images/sprites/ganondorf/tunic2.png); }
.ganondorf .tunic--active-3 { background-image: url(images/sprites/ganondorf/tunic3.png); }

.garfield .tunic--active-1 { background-image: url(images/sprites/garfield/tunic1.png); }
.garfield .tunic--active-2 { background-image: url(images/sprites/garfield/tunic2.png); }
.garfield .tunic--active-3 { background-image: url(images/sprites/garfield/tunic3.png); }

.garnet .tunic--active-1 { background-image: url(images/sprites/garnet/tunic1.png); }
.garnet .tunic--active-2 { background-image: url(images/sprites/garnet/tunic2.png); }
.garnet .tunic--active-3 { background-image: url(images/sprites/garnet/tunic3.png); }

.garomaster .tunic--active-1 { background-image: url(images/sprites/garomaster/tunic1.png); }
.garomaster .tunic--active-2 { background-image: url(images/sprites/garomaster/tunic2.png); }
.garomaster .tunic--active-3 { background-image: url(images/sprites/garomaster/tunic3.png); }

.gobli .tunic--active-1 { background-image: url(images/sprites/gobli/tunic1.png); }
.gobli .tunic--active-2 { background-image: url(images/sprites/gobli/tunic2.png); }
.gobli .tunic--active-3 { background-image: url(images/sprites/gobli/tunic3.png); }

.goomba .tunic--active-1 { background-image: url(images/sprites/goomba/tunic1.png); }
.goomba .tunic--active-2 { background-image: url(images/sprites/goomba/tunic2.png); }
.goomba .tunic--active-3 { background-image: url(images/sprites/goomba/tunic3.png); }

.grandpoobear .tunic--active-1 { background-image: url(images/sprites/grandpoobear/tunic1.png); }
.grandpoobear .tunic--active-2 { background-image: url(images/sprites/grandpoobear/tunic2.png); }
.grandpoobear .tunic--active-3 { background-image: url(images/sprites/grandpoobear/tunic3.png); }

.grunclestan .tunic--active-1 { background-image: url(images/sprites/grunclestan/tunic1.png); }
.grunclestan .tunic--active-2 { background-image: url(images/sprites/grunclestan/tunic2.png); }
.grunclestan .tunic--active-3 { background-image: url(images/sprites/grunclestan/tunic3.png); }

.hardhat-beetle .tunic--active-1 { background-image: url(images/sprites/hardhat-beetle/tunic1.png); }
.hardhat-beetle .tunic--active-2 { background-image: url(images/sprites/hardhat-beetle/tunic2.png); }
.hardhat-beetle .tunic--active-3 { background-image: url(images/sprites/hardhat-beetle/tunic3.png); }

.headlesslink .tunic--active-1 { background-image: url(images/sprites/headlesslink/tunic1.png); }
.headlesslink .tunic--active-2 { background-image: url(images/sprites/headlesslink/tunic2.png); }
.headlesslink .tunic--active-3 { background-image: url(images/sprites/headlesslink/tunic3.png); }

.hello-kitty .tunic--active-1 { background-image: url(images/sprites/hello-kitty/tunic1.png); }
.hello-kitty .tunic--active-2 { background-image: url(images/sprites/hello-kitty/tunic2.png); }
.hello-kitty .tunic--active-3 { background-image: url(images/sprites/hello-kitty/tunic3.png); }

.hint-tile .tunic--active-1 { background-image: url(images/sprites/hint-tile/tunic1.png); }
.hint-tile .tunic--active-2 { background-image: url(images/sprites/hint-tile/tunic2.png); }
.hint-tile .tunic--active-3 { background-image: url(images/sprites/hint-tile/tunic3.png); }

.hoarder-bush .tunic--active-1 { background-image: url(images/sprites/hoarder-bush/tunic1.png); }
.hoarder-bush .tunic--active-2 { background-image: url(images/sprites/hoarder-bush/tunic2.png); }
.hoarder-bush .tunic--active-3 { background-image: url(images/sprites/hoarder-bush/tunic3.png); }

.hoarder-pot .tunic--active-1 { background-image: url(images/sprites/hoarder-pot/tunic1.png); }
.hoarder-pot .tunic--active-2 { background-image: url(images/sprites/hoarder-pot/tunic2.png); }
.hoarder-pot .tunic--active-3 { background-image: url(images/sprites/hoarder-pot/tunic3.png); }

.hoarder-rock .tunic--active-1 { background-image: url(images/sprites/hoarder-rock/tunic1.png); }
.hoarder-rock .tunic--active-2 { background-image: url(images/sprites/hoarder-rock/tunic2.png); }
.hoarder-rock .tunic--active-3 { background-image: url(images/sprites/hoarder-rock/tunic3.png); }

.homer .tunic--active-1 { background-image: url(images/sprites/homer/tunic1.png); }
.homer .tunic--active-2 { background-image: url(images/sprites/homer/tunic2.png); }
.homer .tunic--active-3 { background-image: url(images/sprites/homer/tunic3.png); }

.hyruleknight .tunic--active-1 { background-image: url(images/sprites/hyruleknight/tunic1.png); }
.hyruleknight .tunic--active-2 { background-image: url(images/sprites/hyruleknight/tunic2.png); }
.hyruleknight .tunic--active-3 { background-image: url(images/sprites/hyruleknight/tunic3.png); }

.ibazly .tunic--active-1 { background-image: url(images/sprites/ibazly/tunic1.png); }
.ibazly .tunic--active-2 { background-image: url(images/sprites/ibazly/tunic2.png); }
.ibazly .tunic--active-3 { background-image: url(images/sprites/ibazly/tunic3.png); }

.ignignokt .tunic--active-1 { background-image: url(images/sprites/ignignokt/tunic1.png); }
.ignignokt .tunic--active-2 { background-image: url(images/sprites/ignignokt/tunic2.png); }
.ignignokt .tunic--active-3 { background-image: url(images/sprites/ignignokt/tunic3.png); }

.informant-woman .tunic--active-1 { background-image: url(images/sprites/informant-woman/tunic1.png); }
.informant-woman .tunic--active-2 { background-image: url(images/sprites/informant-woman/tunic2.png); }
.informant-woman .tunic--active-3 { background-image: url(images/sprites/informant-woman/tunic3.png); }

.inkling .tunic--active-1 { background-image: url(images/sprites/inkling/tunic1.png); }
.inkling .tunic--active-2 { background-image: url(images/sprites/inkling/tunic2.png); }
.inkling .tunic--active-3 { background-image: url(images/sprites/inkling/tunic3.png); }

.invisibleman .tunic--active-1 { background-image: url(images/sprites/invisibleman/tunic1.png); }
.invisibleman .tunic--active-2 { background-image: url(images/sprites/invisibleman/tunic2.png); }
.invisibleman .tunic--active-3 { background-image: url(images/sprites/invisibleman/tunic3.png); }

.jason-frudnick .tunic--active-1 { background-image: url(images/sprites/jason-frudnick/tunic1.png); }
.jason-frudnick .tunic--active-2 { background-image: url(images/sprites/jason-frudnick/tunic2.png); }
.jason-frudnick .tunic--active-3 { background-image: url(images/sprites/jason-frudnick/tunic3.png); }

.jogurt .tunic--active-1 { background-image: url(images/sprites/jogurt/tunic1.png); }
.jogurt .tunic--active-2 { background-image: url(images/sprites/jogurt/tunic2.png); }
.jogurt .tunic--active-3 { background-image: url(images/sprites/jogurt/tunic3.png); }

.kecleon .tunic--active-1 { background-image: url(images/sprites/kecleon/tunic1.png); }
.kecleon .tunic--active-2 { background-image: url(images/sprites/kecleon/tunic2.png); }
.kecleon .tunic--active-3 { background-image: url(images/sprites/kecleon/tunic3.png); }

.kenny-mccormick .tunic--active-1 { background-image: url(images/sprites/kenny-mccormick/tunic1.png); }
.kenny-mccormick .tunic--active-2 { background-image: url(images/sprites/kenny-mccormick/tunic2.png); }
.kenny-mccormick .tunic--active-3 { background-image: url(images/sprites/kenny-mccormick/tunic3.png); }

.kholdstare .tunic--active-1 { background-image: url(images/sprites/kholdstare/tunic1.png); }
.kholdstare .tunic--active-2 { background-image: url(images/sprites/kholdstare/tunic2.png); }
.kholdstare .tunic--active-3 { background-image: url(images/sprites/kholdstare/tunic3.png); }

.king-gothalion .tunic--active-1 { background-image: url(images/sprites/king-gothalion/tunic1.png); }
.king-gothalion .tunic--active-2 { background-image: url(images/sprites/king-gothalion/tunic2.png); }
.king-gothalion .tunic--active-3 { background-image: url(images/sprites/king-gothalion/tunic3.png); }

.kirby-meta .tunic--active-1 { background-image: url(images/sprites/kirby-meta/tunic1.png); }
.kirby-meta .tunic--active-2 { background-image: url(images/sprites/kirby-meta/tunic2.png); }
.kirby-meta .tunic--active-3 { background-image: url(images/sprites/kirby-meta/tunic3.png); }

.kore8 .tunic--active-1 { background-image: url(images/sprites/kore8/tunic1.png); }
.kore8 .tunic--active-2 { background-image: url(images/sprites/kore8/tunic2.png); }
.kore8 .tunic--active-3 { background-image: url(images/sprites/kore8/tunic3.png); }

.lakitu .tunic--active-1 { background-image: url(images/sprites/lakitu/tunic1.png); }
.lakitu .tunic--active-2 { background-image: url(images/sprites/lakitu/tunic2.png); }
.lakitu .tunic--active-3 { background-image: url(images/sprites/lakitu/tunic3.png); }

.lily .tunic--active-1 { background-image: url(images/sprites/lily/tunic1.png); }
.lily .tunic--active-2 { background-image: url(images/sprites/lily/tunic2.png); }
.lily .tunic--active-3 { background-image: url(images/sprites/lily/tunic3.png); }

.linkhatcolor .tunic--active-1 { background-image: url(images/sprites/linkhatcolor/tunic1.png); }
.linkhatcolor .tunic--active-2 { background-image: url(images/sprites/linkhatcolor/tunic2.png); }
.linkhatcolor .tunic--active-3 { background-image: url(images/sprites/linkhatcolor/tunic3.png); }

.linktuniccolor .tunic--active-1 { background-image: url(images/sprites/linktuniccolor/tunic1.png); }
.linktuniccolor .tunic--active-2 { background-image: url(images/sprites/linktuniccolor/tunic2.png); }
.linktuniccolor .tunic--active-3 { background-image: url(images/sprites/linktuniccolor/tunic3.png); }

.littlepony .tunic--active-1 { background-image: url(images/sprites/littlepony/tunic1.png); }
.littlepony .tunic--active-2 { background-image: url(images/sprites/littlepony/tunic2.png); }
.littlepony .tunic--active-3 { background-image: url(images/sprites/littlepony/tunic3.png); }

.locke-merchant .tunic--active-1 { background-image: url(images/sprites/locke-merchant/tunic1.png); }
.locke-merchant .tunic--active-2 { background-image: url(images/sprites/locke-merchant/tunic2.png); }
.locke-merchant .tunic--active-3 { background-image: url(images/sprites/locke-merchant/tunic3.png); }

.lucario .tunic--active-1 { background-image: url(images/sprites/lucario/tunic1.png); }
.lucario .tunic--active-2 { background-image: url(images/sprites/lucario/tunic2.png); }
.lucario .tunic--active-3 { background-image: url(images/sprites/lucario/tunic3.png); }

.luigi .tunic--active-1 { background-image: url(images/sprites/luigi/tunic1.png); }
.luigi .tunic--active-2 { background-image: url(images/sprites/luigi/tunic2.png); }
.luigi .tunic--active-3 { background-image: url(images/sprites/luigi/tunic3.png); }

.magus .tunic--active-1 { background-image: url(images/sprites/magus/tunic1.png); }
.magus .tunic--active-2 { background-image: url(images/sprites/magus/tunic2.png); }
.magus .tunic--active-3 { background-image: url(images/sprites/magus/tunic3.png); }

.maiden .tunic--active-1 { background-image: url(images/sprites/maiden/tunic1.png); }
.maiden .tunic--active-2 { background-image: url(images/sprites/maiden/tunic2.png); }
.maiden .tunic--active-3 { background-image: url(images/sprites/maiden/tunic3.png); }

.mangalink .tunic--active-1 { background-image: url(images/sprites/mangalink/tunic1.png); }
.mangalink .tunic--active-2 { background-image: url(images/sprites/mangalink/tunic2.png); }
.mangalink .tunic--active-3 { background-image: url(images/sprites/mangalink/tunic3.png); }

.maplequeen .tunic--active-1 { background-image: url(images/sprites/maplequeen/tunic1.png); }
.maplequeen .tunic--active-2 { background-image: url(images/sprites/maplequeen/tunic2.png); }
.maplequeen .tunic--active-3 { background-image: url(images/sprites/maplequeen/tunic3.png); }

.marin .tunic--active-1 { background-image: url(images/sprites/marin/tunic1.png); }
.marin .tunic--active-2 { background-image: url(images/sprites/marin/tunic2.png); }
.marin .tunic--active-3 { background-image: url(images/sprites/marin/tunic3.png); }

.mario-classic .tunic--active-1 { background-image: url(images/sprites/mario-classic/tunic1.png); }
.mario-classic .tunic--active-2 { background-image: url(images/sprites/mario-classic/tunic2.png); }
.mario-classic .tunic--active-3 { background-image: url(images/sprites/mario-classic/tunic3.png); }

.mario-tanooki .tunic--active-1 { background-image: url(images/sprites/mario-tanooki/tunic1.png); }
.mario-tanooki .tunic--active-2 { background-image: url(images/sprites/mario-tanooki/tunic2.png); }
.mario-tanooki .tunic--active-3 { background-image: url(images/sprites/mario-tanooki/tunic3.png); }

.mariocappy .tunic--active-1 { background-image: url(images/sprites/mariocappy/tunic1.png); }
.mariocappy .tunic--active-2 { background-image: url(images/sprites/mariocappy/tunic2.png); }
.mariocappy .tunic--active-3 { background-image: url(images/sprites/mariocappy/tunic3.png); }

.marisa .tunic--active-1 { background-image: url(images/sprites/marisa/tunic1.png); }
.marisa .tunic--active-2 { background-image: url(images/sprites/marisa/tunic2.png); }
.marisa .tunic--active-3 { background-image: url(images/sprites/marisa/tunic3.png); }

.meatwad .tunic--active-1 { background-image: url(images/sprites/meatwad/tunic1.png); }
.meatwad .tunic--active-2 { background-image: url(images/sprites/meatwad/tunic2.png); }
.meatwad .tunic--active-3 { background-image: url(images/sprites/meatwad/tunic3.png); }

.medallions .tunic--active-1 { background-image: url(images/sprites/medallions/tunic1.png); }
.medallions .tunic--active-2 { background-image: url(images/sprites/medallions/tunic2.png); }
.medallions .tunic--active-3 { background-image: url(images/sprites/medallions/tunic3.png); }

.medli .tunic--active-1 { background-image: url(images/sprites/medli/tunic1.png); }
.medli .tunic--active-2 { background-image: url(images/sprites/medli/tunic2.png); }
.medli .tunic--active-3 { background-image: url(images/sprites/medli/tunic3.png); }

.megaman-x .tunic--active-1 { background-image: url(images/sprites/megaman-x/tunic1.png); }
.megaman-x .tunic--active-2 { background-image: url(images/sprites/megaman-x/tunic2.png); }
.megaman-x .tunic--active-3 { background-image: url(images/sprites/megaman-x/tunic3.png); }

.mike-jones .tunic--active-1 { background-image: url(images/sprites/mike-jones/tunic1.png); }
.mike-jones .tunic--active-2 { background-image: url(images/sprites/mike-jones/tunic2.png); }
.mike-jones .tunic--active-3 { background-image: url(images/sprites/mike-jones/tunic3.png); }

.minish-link .tunic--active-1 { background-image: url(images/sprites/minish-link/tunic1.png); }
.minish-link .tunic--active-2 { background-image: url(images/sprites/minish-link/tunic2.png); }
.minish-link .tunic--active-3 { background-image: url(images/sprites/minish-link/tunic3.png); }

.minishcaplink .tunic--active-1 { background-image: url(images/sprites/minishcaplink/tunic1.png); }
.minishcaplink .tunic--active-2 { background-image: url(images/sprites/minishcaplink/tunic2.png); }
.minishcaplink .tunic--active-3 { background-image: url(images/sprites/minishcaplink/tunic3.png); }

.missingno .tunic--active-1 { background-image: url(images/sprites/missingno/tunic1.png); }
.missingno .tunic--active-2 { background-image: url(images/sprites/missingno/tunic2.png); }
.missingno .tunic--active-3 { background-image: url(images/sprites/missingno/tunic3.png); }

.modernlink .tunic--active-1 { background-image: url(images/sprites/modernlink/tunic1.png); }
.modernlink .tunic--active-2 { background-image: url(images/sprites/modernlink/tunic2.png); }
.modernlink .tunic--active-3 { background-image: url(images/sprites/modernlink/tunic3.png); }

.mog .tunic--active-1 { background-image: url(images/sprites/mog/tunic1.png); }
.mog .tunic--active-2 { background-image: url(images/sprites/mog/tunic2.png); }
.mog .tunic--active-3 { background-image: url(images/sprites/mog/tunic3.png); }

.moosh .tunic--active-1 { background-image: url(images/sprites/moosh/tunic1.png); }
.moosh .tunic--active-2 { background-image: url(images/sprites/moosh/tunic2.png); }
.moosh .tunic--active-3 { background-image: url(images/sprites/moosh/tunic3.png); }

.mouse .tunic--active-1 { background-image: url(images/sprites/mouse/tunic1.png); }
.mouse .tunic--active-2 { background-image: url(images/sprites/mouse/tunic2.png); }
.mouse .tunic--active-3 { background-image: url(images/sprites/mouse/tunic3.png); }

.mushy .tunic--active-1 { background-image: url(images/sprites/mushy/tunic1.png); }
.mushy .tunic--active-2 { background-image: url(images/sprites/mushy/tunic2.png); }
.mushy .tunic--active-3 { background-image: url(images/sprites/mushy/tunic3.png); }

.naturelink .tunic--active-1 { background-image: url(images/sprites/naturelink/tunic1.png); }
.naturelink .tunic--active-2 { background-image: url(images/sprites/naturelink/tunic2.png); }
.naturelink .tunic--active-3 { background-image: url(images/sprites/naturelink/tunic3.png); }

.navi .tunic--active-1 { background-image: url(images/sprites/navi/tunic1.png); }
.navi .tunic--active-2 { background-image: url(images/sprites/navi/tunic2.png); }
.navi .tunic--active-3 { background-image: url(images/sprites/navi/tunic3.png); }

.negativelink .tunic--active-1 { background-image: url(images/sprites/negativelink/tunic1.png); }
.negativelink .tunic--active-2 { background-image: url(images/sprites/negativelink/tunic2.png); }
.negativelink .tunic--active-3 { background-image: url(images/sprites/negativelink/tunic3.png); }

.neslink .tunic--active-1 { background-image: url(images/sprites/neslink/tunic1.png); }
.neslink .tunic--active-2 { background-image: url(images/sprites/neslink/tunic2.png); }
.neslink .tunic--active-3 { background-image: url(images/sprites/neslink/tunic3.png); }

.ness .tunic--active-1 { background-image: url(images/sprites/ness/tunic1.png); }
.ness .tunic--active-2 { background-image: url(images/sprites/ness/tunic2.png); }
.ness .tunic--active-3 { background-image: url(images/sprites/ness/tunic3.png); }

.nia .tunic--active-1 { background-image: url(images/sprites/nia/tunic1.png); }
.nia .tunic--active-2 { background-image: url(images/sprites/nia/tunic2.png); }
.nia .tunic--active-3 { background-image: url(images/sprites/nia/tunic3.png); }

.oldman .tunic--active-1 { background-image: url(images/sprites/oldman/tunic1.png); }
.oldman .tunic--active-2 { background-image: url(images/sprites/oldman/tunic2.png); }
.oldman .tunic--active-3 { background-image: url(images/sprites/oldman/tunic3.png); }

.ori .tunic--active-1 { background-image: url(images/sprites/ori/tunic1.png); }
.ori .tunic--active-2 { background-image: url(images/sprites/ori/tunic2.png); }
.ori .tunic--active-3 { background-image: url(images/sprites/ori/tunic3.png); }

.outlinelink .tunic--active-1 { background-image: url(images/sprites/outlinelink/tunic1.png); }
.outlinelink .tunic--active-2 { background-image: url(images/sprites/outlinelink/tunic2.png); }
.outlinelink .tunic--active-3 { background-image: url(images/sprites/outlinelink/tunic3.png); }

.parallelworldslink .tunic--active-1 { background-image: url(images/sprites/parallelworldslink/tunic1.png); }
.parallelworldslink .tunic--active-2 { background-image: url(images/sprites/parallelworldslink/tunic2.png); }
.parallelworldslink .tunic--active-3 { background-image: url(images/sprites/parallelworldslink/tunic3.png); }

.paula .tunic--active-1 { background-image: url(images/sprites/paula/tunic1.png); }
.paula .tunic--active-2 { background-image: url(images/sprites/paula/tunic2.png); }
.paula .tunic--active-3 { background-image: url(images/sprites/paula/tunic3.png); }

.peach .tunic--active-1 { background-image: url(images/sprites/peach/tunic1.png); }
.peach .tunic--active-2 { background-image: url(images/sprites/peach/tunic2.png); }
.peach .tunic--active-3 { background-image: url(images/sprites/peach/tunic3.png); }

.penguinlink .tunic--active-1 { background-image: url(images/sprites/penguinlink/tunic1.png); }
.penguinlink .tunic--active-2 { background-image: url(images/sprites/penguinlink/tunic2.png); }
.penguinlink .tunic--active-3 { background-image: url(images/sprites/penguinlink/tunic3.png); }

.pete .tunic--active-1 { background-image: url(images/sprites/pete/tunic1.png); }
.pete .tunic--active-2 { background-image: url(images/sprites/pete/tunic2.png); }
.pete .tunic--active-3 { background-image: url(images/sprites/pete/tunic3.png); }

.phoenix-wright .tunic--active-1 { background-image: url(images/sprites/phoenix-wright/tunic1.png); }
.phoenix-wright .tunic--active-2 { background-image: url(images/sprites/phoenix-wright/tunic2.png); }
.phoenix-wright .tunic--active-3 { background-image: url(images/sprites/phoenix-wright/tunic3.png); }

.pikachu .tunic--active-1 { background-image: url(images/sprites/pikachu/tunic1.png); }
.pikachu .tunic--active-2 { background-image: url(images/sprites/pikachu/tunic2.png); }
.pikachu .tunic--active-3 { background-image: url(images/sprites/pikachu/tunic3.png); }

.pinkribbonlink .tunic--active-1 { background-image: url(images/sprites/pinkribbonlink/tunic1.png); }
.pinkribbonlink .tunic--active-2 { background-image: url(images/sprites/pinkribbonlink/tunic2.png); }
.pinkribbonlink .tunic--active-3 { background-image: url(images/sprites/pinkribbonlink/tunic3.png); }

.plagueknight .tunic--active-1 { background-image: url(images/sprites/plagueknight/tunic1.png); }
.plagueknight .tunic--active-2 { background-image: url(images/sprites/plagueknight/tunic2.png); }
.plagueknight .tunic--active-3 { background-image: url(images/sprites/plagueknight/tunic3.png); }

.pokey .tunic--active-1 { background-image: url(images/sprites/pokey/tunic1.png); }
.pokey .tunic--active-2 { background-image: url(images/sprites/pokey/tunic2.png); }
.pokey .tunic--active-3 { background-image: url(images/sprites/pokey/tunic3.png); }

.popoi .tunic--active-1 { background-image: url(images/sprites/popoi/tunic1.png); }
.popoi .tunic--active-2 { background-image: url(images/sprites/popoi/tunic2.png); }
.popoi .tunic--active-3 { background-image: url(images/sprites/popoi/tunic3.png); }

.poppy .tunic--active-1 { background-image: url(images/sprites/poppy/tunic1.png); }
.poppy .tunic--active-2 { background-image: url(images/sprites/poppy/tunic2.png); }
.poppy .tunic--active-3 { background-image: url(images/sprites/poppy/tunic3.png); }

.powerpuff-girl .tunic--active-1 { background-image: url(images/sprites/powerpuff-girl/tunic1.png); }
.powerpuff-girl .tunic--active-2 { background-image: url(images/sprites/powerpuff-girl/tunic2.png); }
.powerpuff-girl .tunic--active-3 { background-image: url(images/sprites/powerpuff-girl/tunic3.png); }

.pridelink .tunic--active-1 { background-image: url(images/sprites/pridelink/tunic1.png); }
.pridelink .tunic--active-2 { background-image: url(images/sprites/pridelink/tunic2.png); }
.pridelink .tunic--active-3 { background-image: url(images/sprites/pridelink/tunic3.png); }

.primm .tunic--active-1 { background-image: url(images/sprites/primm/tunic1.png); }
.primm .tunic--active-2 { background-image: url(images/sprites/primm/tunic2.png); }
.primm .tunic--active-3 { background-image: url(images/sprites/primm/tunic3.png); }

.psyduck .tunic--active-1 { background-image: url(images/sprites/psyduck/tunic1.png); }
.psyduck .tunic--active-2 { background-image: url(images/sprites/psyduck/tunic2.png); }
.psyduck .tunic--active-3 { background-image: url(images/sprites/psyduck/tunic3.png); }

.pug .tunic--active-1 { background-image: url(images/sprites/pug/tunic1.png); }
.pug .tunic--active-2 { background-image: url(images/sprites/pug/tunic2.png); }
.pug .tunic--active-3 { background-image: url(images/sprites/pug/tunic3.png); }

.purplechest-bottle .tunic--active-1 { background-image: url(images/sprites/purplechest-bottle/tunic1.png); }
.purplechest-bottle .tunic--active-2 { background-image: url(images/sprites/purplechest-bottle/tunic2.png); }
.purplechest-bottle .tunic--active-3 { background-image: url(images/sprites/purplechest-bottle/tunic3.png); }

.rainbowlink .tunic--active-1 { background-image: url(images/sprites/rainbowlink/tunic1.png); }
.rainbowlink .tunic--active-2 { background-image: url(images/sprites/rainbowlink/tunic2.png); }
.rainbowlink .tunic--active-3 { background-image: url(images/sprites/rainbowlink/tunic3.png); }

.rick .tunic--active-1 { background-image: url(images/sprites/rick/tunic1.png); }
.rick .tunic--active-2 { background-image: url(images/sprites/rick/tunic2.png); }
.rick .tunic--active-3 { background-image: url(images/sprites/rick/tunic3.png); }

.robotlink .tunic--active-1 { background-image: url(images/sprites/robotlink/tunic1.png); }
.robotlink .tunic--active-2 { background-image: url(images/sprites/robotlink/tunic2.png); }
.robotlink .tunic--active-3 { background-image: url(images/sprites/robotlink/tunic3.png); }

.rocko .tunic--active-1 { background-image: url(images/sprites/rocko/tunic1.png); }
.rocko .tunic--active-2 { background-image: url(images/sprites/rocko/tunic2.png); }
.rocko .tunic--active-3 { background-image: url(images/sprites/rocko/tunic3.png); }

.rottytops .tunic--active-1 { background-image: url(images/sprites/rottytops/tunic1.png); }
.rottytops .tunic--active-2 { background-image: url(images/sprites/rottytops/tunic2.png); }
.rottytops .tunic--active-3 { background-image: url(images/sprites/rottytops/tunic3.png); }

.roykoopa .tunic--active-1 { background-image: url(images/sprites/roykoopa/tunic1.png); }
.roykoopa .tunic--active-2 { background-image: url(images/sprites/roykoopa/tunic2.png); }
.roykoopa .tunic--active-3 { background-image: url(images/sprites/roykoopa/tunic3.png); }

.rumia .tunic--active-1 { background-image: url(images/sprites/rumia/tunic1.png); }
.rumia .tunic--active-2 { background-image: url(images/sprites/rumia/tunic2.png); }
.rumia .tunic--active-3 { background-image: url(images/sprites/rumia/tunic3.png); }

.ryu .tunic--active-1 { background-image: url(images/sprites/ryu/tunic1.png); }
.ryu .tunic--active-2 { background-image: url(images/sprites/ryu/tunic2.png); }
.ryu .tunic--active-3 { background-image: url(images/sprites/ryu/tunic3.png); }

.sailormoon .tunic--active-1 { background-image: url(images/sprites/sailormoon/tunic1.png); }
.sailormoon .tunic--active-2 { background-image: url(images/sprites/sailormoon/tunic2.png); }
.sailormoon .tunic--active-3 { background-image: url(images/sprites/sailormoon/tunic3.png); }

.samus .tunic--active-1 { background-image: url(images/sprites/samus/tunic1.png); }
.samus .tunic--active-2 { background-image: url(images/sprites/samus/tunic2.png); }
.samus .tunic--active-3 { background-image: url(images/sprites/samus/tunic3.png); }

.samus-classic .tunic--active-1 { background-image: url(images/sprites/samus-classic/tunic1.png); }
.samus-classic .tunic--active-2 { background-image: url(images/sprites/samus-classic/tunic2.png); }
.samus-classic .tunic--active-3 { background-image: url(images/sprites/samus-classic/tunic3.png); }

.santalink .tunic--active-1 { background-image: url(images/sprites/santalink/tunic1.png); }
.santalink .tunic--active-2 { background-image: url(images/sprites/santalink/tunic2.png); }
.santalink .tunic--active-3 { background-image: url(images/sprites/santalink/tunic3.png); }

.scholar .tunic--active-1 { background-image: url(images/sprites/scholar/tunic1.png); }
.scholar .tunic--active-2 { background-image: url(images/sprites/scholar/tunic2.png); }
.scholar .tunic--active-3 { background-image: url(images/sprites/scholar/tunic3.png); }

.sevens .tunic--active-1 { background-image: url(images/sprites/sevens/tunic1.png); }
.sevens .tunic--active-2 { background-image: url(images/sprites/sevens/tunic2.png); }
.sevens .tunic--active-3 { background-image: url(images/sprites/sevens/tunic3.png); }

.shadow .tunic--active-1 { background-image: url(images/sprites/shadow/tunic1.png); }
.shadow .tunic--active-2 { background-image: url(images/sprites/shadow/tunic2.png); }
.shadow .tunic--active-3 { background-image: url(images/sprites/shadow/tunic3.png); }

.shadowsaku .tunic--active-1 { background-image: url(images/sprites/shadowsaku/tunic1.png); }
.shadowsaku .tunic--active-2 { background-image: url(images/sprites/shadowsaku/tunic2.png); }
.shadowsaku .tunic--active-3 { background-image: url(images/sprites/shadowsaku/tunic3.png); }

.shantae .tunic--active-1 { background-image: url(images/sprites/shantae/tunic1.png); }
.shantae .tunic--active-2 { background-image: url(images/sprites/shantae/tunic2.png); }
.shantae .tunic--active-3 { background-image: url(images/sprites/shantae/tunic3.png); }

.shuppet .tunic--active-1 { background-image: url(images/sprites/shuppet/tunic1.png); }
.shuppet .tunic--active-2 { background-image: url(images/sprites/shuppet/tunic2.png); }
.shuppet .tunic--active-3 { background-image: url(images/sprites/shuppet/tunic3.png); }

.shy-guy .tunic--active-1 { background-image: url(images/sprites/shy-guy/tunic1.png); }
.shy-guy .tunic--active-2 { background-image: url(images/sprites/shy-guy/tunic2.png); }
.shy-guy .tunic--active-3 { background-image: url(images/sprites/shy-guy/tunic3.png); }

.snes-controller .tunic--active-1 { background-image: url(images/sprites/snes-controller/tunic1.png); }
.snes-controller .tunic--active-2 { background-image: url(images/sprites/snes-controller/tunic2.png); }
.snes-controller .tunic--active-3 { background-image: url(images/sprites/snes-controller/tunic3.png); }

.sodacan .tunic--active-1 { background-image: url(images/sprites/sodacan/tunic1.png); }
.sodacan .tunic--active-2 { background-image: url(images/sprites/sodacan/tunic2.png); }
.sodacan .tunic--active-3 { background-image: url(images/sprites/sodacan/tunic3.png); }

.solaire .tunic--active-1 { background-image: url(images/sprites/solaire/tunic1.png); }
.solaire .tunic--active-2 { background-image: url(images/sprites/solaire/tunic2.png); }
.solaire .tunic--active-3 { background-image: url(images/sprites/solaire/tunic3.png); }

.soldiersprite .tunic--active-1 { background-image: url(images/sprites/soldiersprite/tunic1.png); }
.soldiersprite .tunic--active-2 { background-image: url(images/sprites/soldiersprite/tunic2.png); }
.soldiersprite .tunic--active-3 { background-image: url(images/sprites/soldiersprite/tunic3.png); }

.sonic .tunic--active-1 { background-image: url(images/sprites/sonic/tunic1.png); }
.sonic .tunic--active-2 { background-image: url(images/sprites/sonic/tunic2.png); }
.sonic .tunic--active-3 { background-image: url(images/sprites/sonic/tunic3.png); }

.sora .tunic--active-1 { background-image: url(images/sprites/sora/tunic1.png); }
.sora .tunic--active-2 { background-image: url(images/sprites/sora/tunic2.png); }
.sora .tunic--active-3 { background-image: url(images/sprites/sora/tunic3.png); }

.sora-kh .tunic--active-1 { background-image: url(images/sprites/sora-kh/tunic1.png); }
.sora-kh .tunic--active-2 { background-image: url(images/sprites/sora-kh/tunic2.png); }
.sora-kh .tunic--active-3 { background-image: url(images/sprites/sora-kh/tunic3.png); }

.squirtle .tunic--active-1 { background-image: url(images/sprites/squirtle/tunic1.png); }
.squirtle .tunic--active-2 { background-image: url(images/sprites/squirtle/tunic2.png); }
.squirtle .tunic--active-3 { background-image: url(images/sprites/squirtle/tunic3.png); }

.stalfos .tunic--active-1 { background-image: url(images/sprites/stalfos/tunic1.png); }
.stalfos .tunic--active-2 { background-image: url(images/sprites/stalfos/tunic2.png); }
.stalfos .tunic--active-3 { background-image: url(images/sprites/stalfos/tunic3.png); }

.staticlink .tunic--active-1 { background-image: url(images/sprites/staticlink/tunic1.png); }
.staticlink .tunic--active-2 { background-image: url(images/sprites/staticlink/tunic2.png); }
.staticlink .tunic--active-3 { background-image: url(images/sprites/staticlink/tunic3.png); }

.stick-man .tunic--active-1 { background-image: url(images/sprites/stick-man/tunic1.png); }
.stick-man .tunic--active-2 { background-image: url(images/sprites/stick-man/tunic2.png); }
.stick-man .tunic--active-3 { background-image: url(images/sprites/stick-man/tunic3.png); }

.superbomb .tunic--active-1 { background-image: url(images/sprites/superbomb/tunic1.png); }
.superbomb .tunic--active-2 { background-image: url(images/sprites/superbomb/tunic2.png); }
.superbomb .tunic--active-3 { background-image: url(images/sprites/superbomb/tunic3.png); }

.superbunny .tunic--active-1 { background-image: url(images/sprites/superbunny/tunic1.png); }
.superbunny .tunic--active-2 { background-image: url(images/sprites/superbunny/tunic2.png); }
.superbunny .tunic--active-3 { background-image: url(images/sprites/superbunny/tunic3.png); }

.supermeatboy .tunic--active-1 { background-image: url(images/sprites/supermeatboy/tunic1.png); }
.supermeatboy .tunic--active-2 { background-image: url(images/sprites/supermeatboy/tunic2.png); }
.supermeatboy .tunic--active-3 { background-image: url(images/sprites/supermeatboy/tunic3.png); }

.swatchy .tunic--active-1 { background-image: url(images/sprites/swatchy/tunic1.png); }
.swatchy .tunic--active-2 { background-image: url(images/sprites/swatchy/tunic2.png); }
.swatchy .tunic--active-3 { background-image: url(images/sprites/swatchy/tunic3.png); }

.teatime .tunic--active-1 { background-image: url(images/sprites/teatime/tunic1.png); }
.teatime .tunic--active-2 { background-image: url(images/sprites/teatime/tunic2.png); }
.teatime .tunic--active-3 { background-image: url(images/sprites/teatime/tunic3.png); }

.terra .tunic--active-1 { background-image: url(images/sprites/terra/tunic1.png); }
.terra .tunic--active-2 { background-image: url(images/sprites/terra/tunic2.png); }
.terra .tunic--active-3 { background-image: url(images/sprites/terra/tunic3.png); }

.tetra .tunic--active-1 { background-image: url(images/sprites/tetra/tunic1.png); }
.tetra .tunic--active-2 { background-image: url(images/sprites/tetra/tunic2.png); }
.tetra .tunic--active-3 { background-image: url(images/sprites/tetra/tunic3.png); }

.thief .tunic--active-1 { background-image: url(images/sprites/thief/tunic1.png); }
.thief .tunic--active-2 { background-image: url(images/sprites/thief/tunic2.png); }
.thief .tunic--active-3 { background-image: url(images/sprites/thief/tunic3.png); }

.tile .tunic--active-1 { background-image: url(images/sprites/tile/tunic1.png); }
.tile .tunic--active-2 { background-image: url(images/sprites/tile/tunic2.png); }
.tile .tunic--active-3 { background-image: url(images/sprites/tile/tunic3.png); }

.tingle .tunic--active-1 { background-image: url(images/sprites/tingle/tunic1.png); }
.tingle .tunic--active-2 { background-image: url(images/sprites/tingle/tunic2.png); }
.tingle .tunic--active-3 { background-image: url(images/sprites/tingle/tunic3.png); }

.tmnt .tunic--active-1 { background-image: url(images/sprites/tmnt/tunic1.png); }
.tmnt .tunic--active-2 { background-image: url(images/sprites/tmnt/tunic2.png); }
.tmnt .tunic--active-3 { background-image: url(images/sprites/tmnt/tunic3.png); }

.toad .tunic--active-1 { background-image: url(images/sprites/toad/tunic1.png); }
.toad .tunic--active-2 { background-image: url(images/sprites/toad/tunic2.png); }
.toad .tunic--active-3 { background-image: url(images/sprites/toad/tunic3.png); }

.toadette .tunic--active-1 { background-image: url(images/sprites/toadette/tunic1.png); }
.toadette .tunic--active-2 { background-image: url(images/sprites/toadette/tunic2.png); }
.toadette .tunic--active-3 { background-image: url(images/sprites/toadette/tunic3.png); }

.toadette-captain .tunic--active-1 { background-image: url(images/sprites/toadette-captain/tunic1.png); }
.toadette-captain .tunic--active-2 { background-image: url(images/sprites/toadette-captain/tunic2.png); }
.toadette-captain .tunic--active-3 { background-image: url(images/sprites/toadette-captain/tunic3.png); }

.totem-links .tunic--active-1 { background-image: url(images/sprites/totem-links/tunic1.png); }
.totem-links .tunic--active-2 { background-image: url(images/sprites/totem-links/tunic2.png); }
.totem-links .tunic--active-3 { background-image: url(images/sprites/totem-links/tunic3.png); }

.trogdor .tunic--active-1 { background-image: url(images/sprites/trogdor/tunic1.png); }
.trogdor .tunic--active-2 { background-image: url(images/sprites/trogdor/tunic2.png); }
.trogdor .tunic--active-3 { background-image: url(images/sprites/trogdor/tunic3.png); }

.twilightprincesszelda .tunic--active-1 { background-image: url(images/sprites/twilightprincesszelda/tunic1.png); }
.twilightprincesszelda .tunic--active-2 { background-image: url(images/sprites/twilightprincesszelda/tunic2.png); }
.twilightprincesszelda .tunic--active-3 { background-image: url(images/sprites/twilightprincesszelda/tunic3.png); }

.two-faced .tunic--active-1 { background-image: url(images/sprites/two-faced/tunic1.png); }
.two-faced .tunic--active-2 { background-image: url(images/sprites/two-faced/tunic2.png); }
.two-faced .tunic--active-3 { background-image: url(images/sprites/two-faced/tunic3.png); }

.ultros .tunic--active-1 { background-image: url(images/sprites/ultros/tunic1.png); }
.ultros .tunic--active-2 { background-image: url(images/sprites/ultros/tunic2.png); }
.ultros .tunic--active-3 { background-image: url(images/sprites/ultros/tunic3.png); }

.valeera .tunic--active-1 { background-image: url(images/sprites/valeera/tunic1.png); }
.valeera .tunic--active-2 { background-image: url(images/sprites/valeera/tunic2.png); }
.valeera .tunic--active-3 { background-image: url(images/sprites/valeera/tunic3.png); }

.vanillalink .tunic--active-1 { background-image: url(images/sprites/vanillalink/tunic1.png); }
.vanillalink .tunic--active-2 { background-image: url(images/sprites/vanillalink/tunic2.png); }
.vanillalink .tunic--active-3 { background-image: url(images/sprites/vanillalink/tunic3.png); }

.vitreous .tunic--active-1 { background-image: url(images/sprites/vitreous/tunic1.png); }
.vitreous .tunic--active-2 { background-image: url(images/sprites/vitreous/tunic2.png); }
.vitreous .tunic--active-3 { background-image: url(images/sprites/vitreous/tunic3.png); }

.vivi .tunic--active-1 { background-image: url(images/sprites/vivi/tunic1.png); }
.vivi .tunic--active-2 { background-image: url(images/sprites/vivi/tunic2.png); }
.vivi .tunic--active-3 { background-image: url(images/sprites/vivi/tunic3.png); }

.vivian .tunic--active-1 { background-image: url(images/sprites/vivian/tunic1.png); }
.vivian .tunic--active-2 { background-image: url(images/sprites/vivian/tunic2.png); }
.vivian .tunic--active-3 { background-image: url(images/sprites/vivian/tunic3.png); }

.wario .tunic--active-1 { background-image: url(images/sprites/wario/tunic1.png); }
.wario .tunic--active-2 { background-image: url(images/sprites/wario/tunic2.png); }
.wario .tunic--active-3 { background-image: url(images/sprites/wario/tunic3.png); }

.will .tunic--active-1 { background-image: url(images/sprites/will/tunic1.png); }
.will .tunic--active-2 { background-image: url(images/sprites/will/tunic2.png); }
.will .tunic--active-3 { background-image: url(images/sprites/will/tunic3.png); }

.wixb .tunic--active-1 { background-image: url(images/sprites/wixb/tunic1.png); }
.wixb .tunic--active-2 { background-image: url(images/sprites/wixb/tunic2.png); }
.wixb .tunic--active-3 { background-image: url(images/sprites/wixb/tunic3.png); }

.wizzrobe .tunic--active-1 { background-image: url(images/sprites/wizzrobe/tunic1.png); }
.wizzrobe .tunic--active-2 { background-image: url(images/sprites/wizzrobe/tunic2.png); }
.wizzrobe .tunic--active-3 { background-image: url(images/sprites/wizzrobe/tunic3.png); }

.yoshi .tunic--active-1 { background-image: url(images/sprites/yoshi/tunic1.png); }
.yoshi .tunic--active-2 { background-image: url(images/sprites/yoshi/tunic2.png); }
.yoshi .tunic--active-3 { background-image: url(images/sprites/yoshi/tunic3.png); }

.yunica .tunic--active-1 { background-image: url(images/sprites/yunica/tunic1.png); }
.yunica .tunic--active-2 { background-image: url(images/sprites/yunica/tunic2.png); }
.yunica .tunic--active-3 { background-image: url(images/sprites/yunica/tunic3.png); }

.zandra .tunic--active-1 { background-image: url(images/sprites/zandra/tunic1.png); }
.zandra .tunic--active-2 { background-image: url(images/sprites/zandra/tunic2.png); }
.zandra .tunic--active-3 { background-image: url(images/sprites/zandra/tunic3.png); }

.zebraunicorn .tunic--active-1 { background-image: url(images/sprites/zebraunicorn/tunic1.png); }
.zebraunicorn .tunic--active-2 { background-image: url(images/sprites/zebraunicorn/tunic2.png); }
.zebraunicorn .tunic--active-3 { background-image: url(images/sprites/zebraunicorn/tunic3.png); }

.zelda .tunic--active-1 { background-image: url(images/sprites/zelda/tunic1.png); }
.zelda .tunic--active-2 { background-image: url(images/sprites/zelda/tunic2.png); }
.zelda .tunic--active-3 { background-image: url(images/sprites/zelda/tunic3.png); }

.zerosuitsamus .tunic--active-1 { background-image: url(images/sprites/zerosuitsamus/tunic1.png); }
.zerosuitsamus .tunic--active-2 { background-image: url(images/sprites/zerosuitsamus/tunic2.png); }
.zerosuitsamus .tunic--active-3 { background-image: url(images/sprites/zerosuitsamus/tunic3.png); }

.zora .tunic--active-1 { background-image: url(images/sprites/zora/tunic1.png); }
.zora .tunic--active-2 { background-image: url(images/sprites/zora/tunic2.png); }
.zora .tunic--active-3 { background-image: url(images/sprites/zora/tunic3.png); }
