body { margin: 0px; background-color: #101010; }

.tracker {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #000;
}

td { width: 64px; height: 64px; background-repeat: no-repeat; }

.stoops { width: 128px; height: 128px; background-size: 200% 200%; }

.lonk { width: 64px; height: 64px; }

.corner { width: 32px; height: 32px; }

.true { opacity: 1; }
.false { opacity: 0.25; }

.mini { width: 16px; height: 16px; vertical-align: text-bottom; }

.boss {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  background-size: 100% 100%;
}

div {
  width: 884px;
  height: 448px;
  position: absolute;
  left: 456px;
  background-image: url(images/map.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

span {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: #000;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 16px;
}

.chest {
  width: 24;
  height: 24;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

.unavailable { background-color: red; }
.available { background-color: lime; }
.possible { background-color: yellow; }
.dark { background-color: blue; }
.opened { background-color: #7f7f7f; }

.poi { background-image: url(images/poi.png); }
.poi.highlight { background-image: url(images/highlighted.png); }

#tunic.step-1 { background-image: url(images/tunic.png); }
#tunic.step-2 { background-image: url(images/tunic2.png); }
#tunic.step-3 { background-image: url(images/tunic3.png); }
#tunic.step-1b { background-image: url(images/tunicb.png); }
#tunic.step-2b { background-image: url(images/tunic2b.png); }
#tunic.step-3b { background-image: url(images/tunic3b.png); }
#sword { background-image: url(images/sword.png); }
#sword.step-1 { background-image: url(images/sword1.png); }
#sword.step-2 { background-image: url(images/sword2.png); }
#sword.step-3 { background-image: url(images/sword3.png); }
#sword.step-4 { background-image: url(images/sword4.png); }
#shield { background-image: url(images/shield.png); }
#shield.step-1 { background-image: url(images/shield1.png); }
#shield.step-2 { background-image: url(images/shield2.png); }
#shield.step-3 { background-image: url(images/shield3.png); }
#moonpearl { width: 48px; height: 48px; background-image: url(images/moonpearl.png); }
#bow { background-image: url(images/bow.png); }
#bow.step-1 { background-image: url(images/bow1.png); }
#bow.step-2 { background-image: url(images/bow2.png); }
#bow.step-3 { background-image: url(images/bow3.png); }
#boomerang { background-image: url(images/boomerang.png); }
#boomerang.step-1 { background-image: url(images/boomerang1.png); }
#boomerang.step-2 { background-image: url(images/boomerang2.png); }
#boomerang.step-3 { background-image: url(images/boomerang3.png); }
#hookshot { background-image: url(images/hookshot.png); }
#mushroom { background-image: url(images/mushroom.png); }
#powder { background-image: url(images/powder.png); }
#firerod { background-image: url(images/firerod.png); }
#icerod { background-image: url(images/icerod.png); }
#bombos { background-image: url(images/bombos.png); }
#ether { background-image: url(images/ether.png); }
#quake { background-image: url(images/quake.png); }
#lantern { background-image: url(images/lantern.png); }
#hammer { background-image: url(images/hammer.png); }
#shovel { background-image: url(images/shovel.png); }
#net { background-image: url(images/net.png); }
#book { background-image: url(images/book.png); }
#bottle { background-image: url(images/bottle.png); }
#bottle.step-1 { background-image: url(images/bottle1.png); }
#bottle.step-2 { background-image: url(images/bottle2.png); }
#bottle.step-3 { background-image: url(images/bottle3.png); }
#bottle.step-4 { background-image: url(images/bottle4.png); }
#somaria { background-image: url(images/somaria.png); }
#byrna { background-image: url(images/byrna.png); }
#cape { background-image: url(images/cape.png); }
#mirror { background-image: url(images/mirror.png); }
#boots { background-image: url(images/boots.png); }
#glove { background-image: url(images/glove.png); }
#glove.step-1 { background-image: url(images/glove1.png); }
#glove.step-2 { background-image: url(images/glove2.png); }
#flippers { background-image: url(images/flippers.png); }
#flute { background-image: url(images/flute.png); }
#agahnim, #bossMapAgahnim { background-image:url(images/agahnim.png); }
#agahnim.true { background-image:url(images/agahnim1.png); }
#boss0.step-1 { background-image: url(images/boss0.png); }
#boss0.step-2, #bossMap0 { background-image: url(images/boss02.png); }
#boss1.step-1 { background-image: url(images/boss1.png); }
#boss1.step-2, #bossMap1 { background-image: url(images/boss12.png); }
#boss2.step-1 { background-image: url(images/boss2.png); }
#boss2.step-2, #bossMap2 { background-image: url(images/boss22.png); }
#boss3.step-1 { background-image: url(images/boss3.png); }
#boss3.step-2, #bossMap3 { background-image: url(images/boss32.png); }
#boss4.step-1 { background-image: url(images/boss4.png); }
#boss4.step-2, #bossMap4 { background-image: url(images/boss42.png); }
#boss5.step-1 { background-image: url(images/boss5.png); }
#boss5.step-2, #bossMap5 { background-image: url(images/boss52.png); }
#boss6.step-1 { background-image: url(images/boss6.png); }
#boss6.step-2, #bossMap6 { background-image: url(images/boss62.png); }
#boss7.step-1 { background-image: url(images/boss7.png); }
#boss7.step-2, #bossMap7 { background-image: url(images/boss72.png); }
#boss8.step-1 { background-image: url(images/boss8.png); }
#boss8.step-2, #bossMap8 { background-image: url(images/boss82.png); }
#boss9.step-1 { background-image: url(images/boss9.png); }
#boss9.step-2, #bossMap9 { background-image: url(images/boss92.png); }
.prize-0 { background-image: url(images/dungeon0.png); }
.prize-1 { background-image: url(images/dungeon1.png); }
.prize-2 { background-image: url(images/dungeon2.png); }
.prize-3 { background-image: url(images/dungeon3.png); }
.prize-4 { background-image: url(images/dungeon4.png); }
.medallion-0 { background-image: url(images/medallion0.png); }
.medallion-1 { background-image: url(images/medallion1.png); }
.medallion-2 { background-image: url(images/medallion2.png); }
.medallion-3 { background-image: url(images/medallion3.png); }
.chest-0 { background-image: url(images/chest0.png); }
.chest-1 { background-image: url(images/chest1.png); }
.chest-2 { background-image: url(images/chest2.png); }
.chest-3 { background-image: url(images/chest3.png); }
.chest-4 { background-image: url(images/chest4.png); }
.chest-5 { background-image: url(images/chest5.png); }
.chest-6 { background-image: url(images/chest6.png); }

#bossMap0, #dungeon0 { left: 46.8%; top: 38.8%; }
#bossMap1, #dungeon1 { left: 3.8%;  top: 78.4%; }
#bossMap2, #dungeon2 { left: 31.0%; top: 5.5%; }
#bossMap3, #dungeon3 { left: 97.0%; top: 40.0%; }
#bossMap4, #dungeon4 { left: 73.5%; top: 91.0%; }
#bossMap5, #dungeon5 { left: 53.3%; top: 5.4%; }
#bossMap6, #dungeon6 { left: 56.4%; top: 47.9%; }
#bossMap7, #dungeon7 { left: 89.8%; top: 85.8%; }
#bossMap8, #dungeon8 { left: 55.8%; top: 82.9%; }
#bossMap9, #dungeon9 { left: 96.9%; top: 7.0%; }

#bossMapAgahnim, #castle { left: 25.0%; top: 52.6%; }

#chestMap0 { left: 30.8%; top: 29.6%; }
#chestMap1 { left: 23.4%; top: 93.4%; }
#chestMap2 { left: 27.4%; top: 67.9%; }
#chestMap3 { left: 39.9%; top: 9.3%; }
#chestMap4 { left: 42.6%; top: 9.3%; }
#chestMap5 { left: 8.1%;  top: 57.8%; }
#chestMap6 { left: 4.4%;  top: 54.2%; }
#chestMap7 { left: 55.4%; top: 57.8%; }
#chestMap8 { left: 60.8%; top: 47.9%; }
#chestMap9 { left: 10.0%; top: 82.6%; }
#chestMap10 { left: 51.7%; top: 79.5%; }
#chestMap11 { left: 92.8%; top: 14.7%; }
#chestMap12 { left: 40.7%; top: 41.4%; }
#chestMap13 { left: 78.6%; top: 14.9%; }
#chestMap14 { left: 1.7%;  top: 41.0%; }
#chestMap15 { left: 6.4%;  top: 41.0%; }
#chestMap16 { left: 80.0%; top: 77.1%; }
#chestMap17 { left: 41.4%; top: 17.1%; }
#chestMap18 { left: 19.5%; top: 29.3%; }
#chestMap19 { left: 32.6%; top: 93.4%; }
#chestMap20 { left: 44.7%; top: 76.9%; }
#chestMap21 { left: 91.6%; top: 8.6%; }
#chestMap22 { left: 91.6%; top: 3.4%; }
#chestMap23 { left: 52.1%; top: 46.4%; }
#chestMap24 { left: 4.5%;  top: 46.8%; }
#chestMap25 { left: 40.7%; top: 46.7%; }
#chestMap26 { left: 65.5%; top: 68.6%; }
#chestMap27 { left: 7.8%;  top: 52.1%; }
#chestMap28 { left: 65.2%; top: 52.2%; }
#chestMap29 { left: 35.4%; top: 69.7%; }
#chestMap30 { left: 21.0%; top: 3.0%; }
#chestMap31 { left: 11.0%; top: 92.2%; }
#chestMap32 { left: 96.0%; top: 17.2%; }
#chestMap33 { left: 47.5%; top: 12.1%; }
#chestMap34 { left: 20.8%; top: 20.4%; }
#chestMap35 { left: 40.8%; top: 32.5%; }
#chestMap36 { left: 9.4%;  top: 13.0%; }
#chestMap37 { left: 15.1%; top: 7.6%; }
#chestMap38 { left: 24.3%; top: 14.8%; }
#chestMap39 { left: 14.1%; top: 84.1%; }
#chestMap40 { left: 28.1%; top: 27.0%; }
#chestMap41 { left: 8.8%;  top: 77.3%; }
#chestMap42 { left: 65.8%; top: 60.1%; }
#chestMap43 { left: 7.7%;  top: 65.9%; }
#chestMap44 { left: 6.2%;  top: 8.6%; }
#chestMap45 { left: 25.4%; top: 8.5%; }
#chestMap46 { left: 40.2%; top: 3.0%; }
#chestMap47 { left: 1.8%;  top: 69.8%; }
#chestMap48 { left: 1.5%;  top: 91.0%; }
#chestMap49 { left: 36.1%; top: 82.9%; }
#chestMap50 { left: 67.1%; top: 15.2%; }
#chestMap51 { left: 79.0%; top: 43.5%; }
#chestMap52 { left: 52.9%; top: 69.2%; }
#chestMap53 { left: 47.5%; top: 17.3%; }
#chestMap54 { left: 14.4%; top: 66.2%; }
#chestMap55 { left: 26.8%; top: 32.4%; }
#chestMap56 { left: 29.8%; top: 41.8%; }
#chestMap57 { left: 25.0%; top: 44.1%; }
#chestMap58 { left: 23.0%; top: 28.0%; }
#chestMap59 { left: 16.0%; top: 58.0%; }
#chestMap60 { left: 15.2%; top: 51.8%; }
#chestMap61 { left: 73.5%; top: 48.5%; }
#chestMap62 { left: 2.5%;  top: 3.2%; }
#chestMap63 { left: 25.6%; top: 38.2%; }
