@import url('sprite.css');

body {
  margin: 0px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* { box-sizing: border-box; }

.row:before,
.row:after { content: " "; display: table; }
.row:after { clear: both; }
.cell { position: relative; float: left; }

#page { width: 448px; height: 448px; }
#page.hmap { width: 1340px; }
#page.vmap { transform: scale(.6, .6) translate(-33%, -33%); }

#tracker .item,
#tracker .boss,
#tracker .chest,
#tracker .dungeon { width: 64px; height: 64px; }

#tracker .tunic { width: 128px; height: 128px; }
#tracker .sword { position: absolute; top: 0; right: 0; }
#tracker .shield { position: absolute; bottom: 0; left: 0; }
#tracker .moonpearl {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.keysanity .avatar { transform: scale(.75) translate(-25%, -25%); }

#tracker .item,
#tracker .boss,
#tracker .big-key { filter: contrast(80%) brightness(30%); }
#tracker .item[class*="active"],
#tracker .boss.defeated,
#tracker .big-key.collected { filter: contrast(100%) brightness(100%); }

.prize,
#tracker .medallion,
.big-key,
.keys,
.keysanity #tracker .chest { width: 32px; height: 32px; position: absolute; }

.ganon-tower .chest { top: 0; right: 0; }
.ganon-tower .keys { top: 32px; right: 0; }
.ganon-tower .big-key { top: 64px; right: 0; }

.prize { bottom: 0; right: 0; }
#tracker .medallion { bottom: 0; }
.keysanity #tracker .medallion { top: 0; right: 0; }
.big-key { bottom: 0; }
.dungeon .keys { left: 16px; }
.keysanity .dungeon .chest { bottom: 0; left: 16px }
.agahnim-keys .keys:first-child { top: 0; right: 0; }
.agahnim-keys .keys:last-child { bottom: 0; right: 0; }

.keys,
.keysanity #tracker .chest { display: table; }
.keysanity #tracker .chest > span { font-size: 20px; }
.keys > span,
.keysanity #tracker .chest > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  color: white;
  font-weight: bold;
  /* this looks horrible if zoomed in, but it's
     better than text-stroke with 1px or 2px */
  text-shadow: -2px -2px black,  0px -2px black,
                2px -2px black,  2px  0px black,
                2px  2px black,  0px  2px black,
               -2px  2px black, -2px  0px black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#map { width: 448px; height: 448px; position: relative; }
#map .world-light,
#map .world-dark { width: 442px; height: 442px; position: relative; background-size: 100% 100%; }
#map .world-light { background-image: url(images/overlay/map_lw.png); }
#map .world-dark { background-image: url(images/overlay/map_dw.png); }
.hmap #map { width: 888px; margin-left: 4px; }
.vmap #map { height: 888px; margin-top: 4px; }
.hmap #map .world-dark { margin-left: 4px; }
.vmap #map .world-light { margin: 0 auto; }
.vmap #map .world-dark { margin: 4px auto 0; }

#map .chest {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}

#map .boss {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

.encounter {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
  position: absolute;
  background-size: 100% 100%;
}

#map .dungeon {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  background-size: 100% 100%;
}

#map .chest,
#map .encounter,
#map .dungeon { background-image: url(images/overlay/poi.png); }
#map .chest.highlight,
#map .encounter.highlight,
#map .dungeon.highlight { background-image: url(images/overlay/highlighted.png); }

.marked { background-color: #7f7f7f; }
.unavailable { background-color: red; }
.available { background-color: lime; }
.possible { background-color: yellow; }
.dark { background-color: blue; }

#caption {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: black;
  font-size: 16px;
  text-align: center;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 100% 100%;
  vertical-align: text-bottom;
}

.tunic.active-1 { background-image: url(images/items/tunic1.png); }
.tunic.active-2 { background-image: url(images/items/tunic2.png); }
.tunic.active-3 { background-image: url(images/items/tunic3.png); }
.tunic.active-1.bunny { background-image: url(images/items/tunicbunny1.png); }
.tunic.active-2.bunny { background-image: url(images/items/tunicbunny2.png); }
.tunic.active-3.bunny { background-image: url(images/items/tunicbunny3.png); }
.sword.active-1 { background-image: url(images/items/sword1.png); }
.sword.active-2 { background-image: url(images/items/sword2.png); }
.sword.active-3 { background-image: url(images/items/sword3.png); }
.sword.active-4 { background-image: url(images/items/sword4.png); }
.shield.active-1 { background-image: url(images/items/shield1.png); }
.shield.active-2 { background-image: url(images/items/shield2.png); }
.shield.active-3 { background-image: url(images/items/shield3.png); }
.moonpearl { background-image: url(images/items/moonpearl.png); }
.bow { background-image: url(images/items/bow0.png); }
.bow.active-1 { background-image: url(images/items/bow1.png); }
.bow.active-2 { background-image: url(images/items/bow2.png); }
.bow.active-3 { background-image: url(images/items/bow3.png); }
.boomerang { background-image: url(images/items/boomerang1.png); }
.boomerang.active-2 { background-image: url(images/items/boomerang2.png); }
.boomerang.active-3 { background-image: url(images/items/boomerang3.png); }
.hookshot { background-image: url(images/items/hookshot.png); }
.mushroom { background-image: url(images/items/mushroom.png); }
.powder { background-image: url(images/items/powder.png); }
.firerod { background-image: url(images/items/firerod.png); }
.icerod { background-image: url(images/items/icerod.png); }
.bombos { background-image: url(images/items/bombos.png); }
.ether { background-image: url(images/items/ether.png); }
.quake { background-image: url(images/items/quake.png); }
.lantern { background-image: url(images/items/lantern.png); }
.hammer { background-image: url(images/items/hammer.png); }
.shovel { background-image: url(images/items/shovel.png); }
.net { background-image: url(images/items/net.png); }
.book { background-image: url(images/items/book.png); }
.bottle { background-image: url(images/items/bottle0.png); }
.bottle.active-1 { background-image: url(images/items/bottle1.png); }
.bottle.active-2 { background-image: url(images/items/bottle2.png); }
.bottle.active-3 { background-image: url(images/items/bottle3.png); }
.bottle.active-4 { background-image: url(images/items/bottle4.png); }
.somaria { background-image: url(images/items/somaria.png); }
.byrna { background-image: url(images/items/byrna.png); }
.cape { background-image: url(images/items/cape.png); }
.mirror { background-image: url(images/items/mirror.png); }
.boots { background-image: url(images/items/boots.png); }
.glove { background-image: url(images/items/glove1.png); }
.glove.active-2 { background-image: url(images/items/glove2.png); }
.flippers { background-image: url(images/items/flippers.png); }
.flute { background-image: url(images/items/flute.png); }
.agahnim { background-image:url(images/dungeons/agahnim0.png); }
.agahnim.active { background-image:url(images/dungeons/agahnim1.png); }
.boss.eastern { background-image: url(images/dungeons/boss0.png); }
.boss.desert { background-image: url(images/dungeons/boss1.png); }
.boss.hera { background-image: url(images/dungeons/boss2.png); }
.boss.darkness { background-image: url(images/dungeons/boss3.png); }
.boss.swamp { background-image: url(images/dungeons/boss4.png); }
.boss.skull { background-image: url(images/dungeons/boss5.png); }
.boss.thieves { background-image: url(images/dungeons/boss6.png); }
.boss.ice { background-image: url(images/dungeons/boss7.png); }
.boss.mire { background-image: url(images/dungeons/boss8.png); }
.boss.turtle { background-image: url(images/dungeons/boss9.png); }
.prize-0 { background-image: url(images/dungeons/prize0.png); }
.prize-1 { background-image: url(images/dungeons/prize1.png); }
.prize-2 { background-image: url(images/dungeons/prize2.png); }
.prize-3 { background-image: url(images/dungeons/prize3.png); }
.prize-4 { background-image: url(images/dungeons/prize4.png); }
.medallion-0 { background-image: url(images/dungeons/medallion0.png); }
.medallion-1 { background-image: url(images/dungeons/medallion1.png); }
.medallion-2 { background-image: url(images/dungeons/medallion2.png); }
.medallion-3 { background-image: url(images/dungeons/medallion3.png); }
.chest-0 { background-image: url(images/dungeons/chest0.png); }
.chest-1 { background-image: url(images/dungeons/chest1.png); }
.chest-2 { background-image: url(images/dungeons/chest2.png); }
.chest-3 { background-image: url(images/dungeons/chest3.png); }
.chest-4 { background-image: url(images/dungeons/chest4.png); }
.chest-5 { background-image: url(images/dungeons/chest5.png); }
.chest-6 { background-image: url(images/dungeons/chest6.png); }
.big-key { background-image: url(images/dungeons/big_key.png); }
.keys { background-image: url(images/dungeons/key.png); }
.keysanity .chest { background-image: url(images/dungeons/chest_single.png); }
.keysanity .chest.empty { background-image: url(images/dungeons/chest_empty.png); }

.bomb { background-image: url(images/overlay/bomb.png); }
.crystal { background-image: url(images/overlay/crystal.png); }
.pendant-0 { background-image: url(images/overlay/pendant0.png); }
.pendant-1 { background-image: url(images/overlay/pendant1.png); }
.pendant-2 { background-image: url(images/overlay/pendant2.png); }

#map .eastern  { left: 93.6%; top: 38.8%; }
#map .desert   { left: 7.6%;  top: 78.4%; }
#map .hera     { left: 62.0%; top: 5.5%; }

#map .darkness { left: 94.0%; top: 40.0%; }
#map .swamp    { left: 47.0%; top: 91.0%; }
#map .skull    { left: 6.6%;  top: 5.4%; }
#map .thieves  { left: 12.8%; top: 47.9%; }
#map .ice      { left: 79.6%; top: 85.8%; }
#map .mire     { left: 11.6%; top: 82.9%; }
#map .turtle   { left: 93.8%; top: 7.0%; }

#map .agahnim { left: 50.0%; top: 52.6%; }

#map .altar          { left: 5.0%;  top: 3.2%; }
#map .mushroom       { left: 12.4%; top: 8.6%; }
#map .hideout        { left: 18.8%; top: 13.0%; }
#map .tree           { left: 30.2%; top: 7.6%; }
#map .lost-man       { left: 41.6%; top: 20.4%; }
#map .spectacle-cave { left: 48.6%; top: 14.8%; }
#map .spectacle-rock { left: 50.8%; top: 8.5%; }
#map .ether          { left: 42.0%; top: 3.0%; }
#map .paradox        { left: 82.8%; top: 17.1%; }
#map .spiral         { left: 79.8%; top: 9.3%; }
#map .island-dm      { left: 80.4%; top: 3.0%; }
#map .mimic          { left: 85.2%; top: 9.3%; }
#map .graveyard-w    { left: 39.0%; top: 29.3%; }
#map .graveyard-n    { left: 56.2%; top: 27.0%; }
#map .graveyard-e    { left: 61.6%; top: 29.6%; }
#map .witch          { left: 81.6%; top: 32.5%; }
#map .fairy-lw       { left: 89.8%; top: 14.7%; }
#map .zora           { left: 96.0%; top: 12.1%; }
#map .river          { left: 95.4%; top: 17.3%; }
#map .well           { left: 3.4%;  top: 41.0%; }
#map .thief-hut      { left: 12.8%; top: 41.0%; }
#map .bottle         { left: 9.0%;  top: 46.8%; }
#map .chicken        { left: 8.8%;  top: 54.2%; }
#map .kid            { left: 15.6%; top: 52.1%; }
#map .tavern         { left: 16.2%; top: 57.8%; }
#map .frog           { left: 30.4%; top: 51.8%; }
#map .bat            { left: 32.0%; top: 58.0%; }
#map .sahasrahla-hut { left: 81.4%; top: 41.4%; }
#map .sahasrahla     { left: 81.4%; top: 46.7%; }
#map .maze           { left: 3.6%;  top: 69.8%; }
#map .library        { left: 15.4%; top: 65.9%; }
#map .dig-grove      { left: 28.8%; top: 66.2%; }
#map .desert-w       { left: 3.0%;  top: 91.0%; }
#map .desert-ne      { left: 17.6%; top: 77.3%; }
#map .aginah         { left: 20.0%; top: 82.6%; }
#map .bombos         { left: 22.0%; top: 92.2%; }
#map .grove-s        { left: 28.2%; top: 84.1%; }
#map .dam            { left: 46.8%; top: 93.4%; }
#map .lake-sw        { left: 65.2%; top: 93.4%; }
#map .ice-cave       { left: 89.4%; top: 76.9%; }
#map .island-lake    { left: 72.2%; top: 82.9%; }
#map .hobo           { left: 70.8%; top: 69.7%; }
#map .link-house     { left: 54.8%; top: 67.9%; }
#map .secret         { left: 59.6%; top: 41.8%; }
#map .castle         { left: 50.0%; top: 44.1%; }
#map .escape-dark    { left: 51.2%; top: 38.2%; }
#map .escape-side    { left: 53.6%; top: 32.4%; }
#map .sanctuary      { left: 46.0%; top: 28.0%; }
#map .castle-foyer   { left: 56.9%; top: 55.3%; }
#map .castle-maze    { left: 56.9%; top: 49.7%; }

#map .bumper         { left: 34.2%; top: 15.2%; }
#map .spike          { left: 57.2%; top: 14.9%; }
#map .bunny          { left: 85.6%; top: 14.7%; }
#map .rock-hook      { left: 83.2%; top: 3.4%; }
#map .rock-boots     { left: 83.2%; top: 8.6%; }
#map .catfish        { left: 92.0%; top: 17.2%; }
#map .chest-game     { left: 4.2%;  top: 46.4%; }
#map .c-house        { left: 21.6%; top: 47.9%; }
#map .bomb-hut       { left: 10.8%; top: 57.8%; }
#map .purple         { left: 30.4%; top: 52.2%; }
#map .pegs           { left: 31.6%; top: 60.1%; }
#map .fairy-dw       { left: 47.0%; top: 48.5%; }
#map .pyramid        { left: 58.0%; top: 43.5%; }
#map .dig-game       { left: 5.8%;  top: 69.2%; }
#map .stumpy         { left: 31.0%; top: 68.6%; }
#map .swamp-ne       { left: 60.0%; top: 77.1%; }
#map .mire-w         { left: 3.4%;  top: 79.5%; }
