.vanilla .moonpearl { background-image: url(images/items/moonpearl.png); }
.vanilla .bow { background-image: url(images/items/bow0.png); }
.vanilla .bow.active-1 { background-image: url(images/items/bow1.png); }
.vanilla .bow.active-2 { background-image: url(images/items/bow2.png); }
.vanilla .bow.active-3 { background-image: url(images/items/bow3.png); }
.vanilla .boomerang { background-image: url(images/items/boomerang1.png); }
.vanilla .boomerang.active-2 { background-image: url(images/items/boomerang2.png); }
.vanilla .boomerang.active-3 { background-image: url(images/items/boomerang3.png); }
.vanilla .hookshot { background-image: url(images/items/hookshot.png); }
.vanilla .mushroom { background-image: url(images/items/mushroom.png); }
.vanilla .powder { background-image: url(images/items/powder.png); }
.vanilla .firerod { background-image: url(images/items/firerod.png); }
.vanilla .icerod { background-image: url(images/items/icerod.png); }
.vanilla .bombos { background-image: url(images/items/bombos.png); }
.vanilla .ether { background-image: url(images/items/ether.png); }
.vanilla .quake { background-image: url(images/items/quake.png); }
.vanilla .lantern { background-image: url(images/items/lantern.png); }
.vanilla .hammer { background-image: url(images/items/hammer.png); }
.vanilla .shovel { background-image: url(images/items/shovel.png); }
.vanilla .net { background-image: url(images/items/net.png); }
.vanilla .book { background-image: url(images/items/book.png); }
.vanilla .bottle { background-image: url(images/items/bottle0.png); }
.vanilla .bottle.active-1 { background-image: url(images/items/bottle1.png); }
.vanilla .bottle.active-2 { background-image: url(images/items/bottle2.png); }
.vanilla .bottle.active-3 { background-image: url(images/items/bottle3.png); }
.vanilla .bottle.active-4 { background-image: url(images/items/bottle4.png); }
.vanilla .somaria { background-image: url(images/items/somaria.png); }
.vanilla .byrna { background-image: url(images/items/byrna.png); }
.vanilla .cape { background-image: url(images/items/cape.png); }
.vanilla .mirror { background-image: url(images/items/mirror.png); }
.vanilla .boots { background-image: url(images/items/boots.png); }
.vanilla .glove { background-image: url(images/items/glove1.png); }
.vanilla .glove.active-2 { background-image: url(images/items/glove2.png); }
.vanilla .flippers { background-image: url(images/items/flippers.png); }
.vanilla .flute { background-image: url(images/items/flute.png); }
.vanilla .agahnim { background-image:url(images/dungeons/agahnim0.png); }
.vanilla .agahnim.active { background-image:url(images/dungeons/agahnim1.png); }
.vanilla .chest-0 { background-image: url(images/dungeons/chest0.png); }
.vanilla .chest-1 { background-image: url(images/dungeons/chest1.png); }
.vanilla .chest-2 { background-image: url(images/dungeons/chest2.png); }
.vanilla .chest-3 { background-image: url(images/dungeons/chest3.png); }
.vanilla .chest-4 { background-image: url(images/dungeons/chest4.png); }
.vanilla .chest-5 { background-image: url(images/dungeons/chest5.png); }
.vanilla .chest-6 { background-image: url(images/dungeons/chest6.png); }

.vanilla .bomb { background-image: url(images/overlay/bomb.png); }
.vanilla .pendant-0 { background-image: url(images/overlay/pendant0.png); }
.vanilla .pendant-1 { background-image: url(images/overlay/pendant1.png); }
.vanilla .pendant-2 { background-image: url(images/overlay/pendant2.png); }
