.christmas .moonpearl { background-image: url(images/themes/christmas/items/moonpearl.png); }
.christmas .bow { background-image: url(images/themes/christmas/items/bow0.png); }
.christmas .bow.active-1 { background-image: url(images/themes/christmas/items/bow1.png); }
.christmas .bow.active-2 { background-image: url(images/themes/christmas/items/bow2.png); }
.christmas .bow.active-3 { background-image: url(images/themes/christmas/items/bow3.png); }
.christmas .boomerang { background-image: url(images/themes/christmas/items/boomerang1.png); }
.christmas .boomerang.active-2 { background-image: url(images/themes/christmas/items/boomerang2.png); }
.christmas .boomerang.active-3 { background-image: url(images/themes/christmas/items/boomerang3.png); }
.christmas .hookshot { background-image: url(images/themes/christmas/items/hookshot.png); }
.christmas .mushroom { background-image: url(images/themes/christmas/items/mushroom.png); }
.christmas .powder { background-image: url(images/themes/christmas/items/powder.png); }
.christmas .firerod { background-image: url(images/themes/christmas/items/firerod.png); }
.christmas .icerod { background-image: url(images/themes/christmas/items/icerod.png); }
.christmas .bombos { background-image: url(images/themes/christmas/items/bombos.png); }
.christmas .ether { background-image: url(images/themes/christmas/items/ether.png); }
.christmas .quake { background-image: url(images/themes/christmas/items/quake.png); }
.christmas .lantern { background-image: url(images/themes/christmas/items/lantern.png); }
.christmas .hammer { background-image: url(images/themes/christmas/items/hammer.png); }
.christmas .shovel { background-image: url(images/themes/christmas/items/shovel.png); }
.christmas .net { background-image: url(images/themes/christmas/items/net.png); }
.christmas .book { background-image: url(images/themes/christmas/items/book.png); }
.christmas .bottle { background-image: url(images/themes/christmas/items/bottle0.png); }
.christmas .bottle.active-1 { background-image: url(images/themes/christmas/items/bottle1.png); }
.christmas .bottle.active-2 { background-image: url(images/themes/christmas/items/bottle2.png); }
.christmas .bottle.active-3 { background-image: url(images/themes/christmas/items/bottle3.png); }
.christmas .bottle.active-4 { background-image: url(images/themes/christmas/items/bottle4.png); }
.christmas .somaria { background-image: url(images/themes/christmas/items/somaria.png); }
.christmas .byrna { background-image: url(images/themes/christmas/items/byrna.png); }
.christmas .cape { background-image: url(images/themes/christmas/items/cape.png); }
.christmas .mirror { background-image: url(images/themes/christmas/items/mirror.png); }
.christmas .boots { background-image: url(images/themes/christmas/items/boots.png); }
.christmas .glove { background-image: url(images/themes/christmas/items/glove1.png); }
.christmas .glove.active-2 { background-image: url(images/themes/christmas/items/glove2.png); }
.christmas .flippers { background-image: url(images/themes/christmas/items/flippers.png); }
.christmas .flute { background-image: url(images/themes/christmas/items/flute.png); }

.christmas .agahnim { background-image:url(images/themes/christmas/dungeons/agahnim0.png); }
.christmas .agahnim.active { background-image:url(images/themes/christmas/dungeons/agahnim1.png); }
.christmas .chest-0 { background-image: url(images/themes/christmas/dungeons/chest0.png); }
.christmas .chest-1 { background-image: url(images/themes/christmas/dungeons/chest1.png); }
.christmas .chest-2 { background-image: url(images/themes/christmas/dungeons/chest2.png); }
.christmas .chest-3 { background-image: url(images/themes/christmas/dungeons/chest3.png); }
.christmas .chest-4 { background-image: url(images/themes/christmas/dungeons/chest4.png); }
.christmas .chest-5 { background-image: url(images/themes/christmas/dungeons/chest5.png); }
.christmas .chest-6 { background-image: url(images/themes/christmas/dungeons/chest6.png); }
