.retro .tunic.active-1 { background-image: url(images/themes/retro/items/tunic1.png); }
.retro .tunic.active-2 { background-image: url(images/themes/retro/items/tunic2.png); }
.retro .tunic.active-3 { background-image: url(images/themes/retro/items/tunic3.png); }
/*.retro .tunic.active-1.bunny { background-image: url(images/themes/retro/items/tunicbunny1.png); }
.retro .tunic.active-2.bunny { background-image: url(images/themes/retro/items/tunicbunny2.png); }
.retro .tunic.active-3.bunny { background-image: url(images/themes/retro/items/tunicbunny3.png); }*/
/*.retro .sword.active-1 { background-image: url(images/themes/retro/items/sword1.png); }*/
.retro .sword.active-2 { background-image: url(images/themes/retro/items/sword2.png); }
.retro .sword.active-3 { background-image: url(images/themes/retro/items/sword3.png); }
.retro .sword.active-4 { background-image: url(images/themes/retro/items/sword4.png); }
.retro .shield.active-1 { background-image: url(images/themes/retro/items/shield1.png); }
.retro .shield.active-2 { background-image: url(images/themes/retro/items/shield2.png); }
.retro .shield.active-3 { background-image: url(images/themes/retro/items/shield3.png); }
.retro .moonpearl { background-image: url(images/themes/retro/items/moonpearl.png); }
.retro .bow { background-image: url(images/themes/retro/items/bow0.png); }
.retro .bow.active-1 { background-image: url(images/themes/retro/items/bow1.png); }
.retro .bow.active-2 { background-image: url(images/themes/retro/items/bow2.png); }
.retro .bow.active-3 { background-image: url(images/themes/retro/items/bow3.png); }
.retro .boomerang { background-image: url(images/themes/retro/items/boomerang1.png); }
.retro .boomerang.active-2 { background-image: url(images/themes/retro/items/boomerang2.png); }
.retro .boomerang.active-3 { background-image: url(images/themes/retro/items/boomerang3.png); }
.retro .hookshot { background-image: url(images/themes/retro/items/hookshot.png); }
.retro .mushroom { background-image: url(images/themes/retro/items/mushroom.png); }
.retro .powder { background-image: url(images/themes/retro/items/powder.png); }
.retro .firerod { background-image: url(images/themes/retro/items/firerod.png); }
.retro .icerod { background-image: url(images/themes/retro/items/icerod.png); }
.retro .lantern { background-image: url(images/themes/retro/items/lantern.png); }
.retro .hammer { background-image: url(images/themes/retro/items/hammer.png); }
.retro .shovel { background-image: url(images/themes/retro/items/shovel.png); }
.retro .net { background-image: url(images/themes/retro/items/net.png); }
.retro .book { background-image: url(images/themes/retro/items/book.png); }
.retro .bottle { background-image: url(images/themes/retro/items/bottle1.png); }
.retro .bottle.active-2 { background-image: url(images/themes/retro/items/bottle2.png); }
.retro .bottle.active-3 { background-image: url(images/themes/retro/items/bottle3.png); }
.retro .bottle.active-4 { background-image: url(images/themes/retro/items/bottle4.png); }
.retro .somaria { background-image: url(images/themes/retro/items/somaria.png); }
.retro .byrna { background-image: url(images/themes/retro/items/byrna.png); }
.retro .cape { background-image: url(images/themes/retro/items/cape.png); }
.retro .mirror { background-image: url(images/themes/retro/items/mirror.png); }
.retro .boots { background-image: url(images/themes/retro/items/boots.png); }
.retro .glove { background-image: url(images/themes/retro/items/glove1.png); }
.retro .glove.active-2 { background-image: url(images/themes/retro/items/glove2.png); }
.retro .flippers { background-image: url(images/themes/retro/items/flippers.png); }
.retro .flute { background-image: url(images/themes/retro/items/flute.png); }

.retro .agahnim { background-image:url(images/themes/retro/dungeons/agahnim0.png); }
.retro .agahnim.active { background-image:url(images/themes/retro/dungeons/agahnim1.png); }
.retro .boss.eastern { background-image: url(images/themes/retro/dungeons/boss0.png); }
.retro .boss.desert { background-image: url(images/themes/retro/dungeons/boss1.png); }
.retro .boss.hera { background-image: url(images/themes/retro/dungeons/boss2.png); }
.retro .boss.darkness { background-image: url(images/themes/retro/dungeons/boss3.png); }
.retro .boss.swamp { background-image: url(images/themes/retro/dungeons/boss4.png); }
.retro .boss.skull { background-image: url(images/themes/retro/dungeons/boss5.png); }
.retro .boss.thieves { background-image: url(images/themes/retro/dungeons/boss6.png); }
.retro .boss.ice { background-image: url(images/themes/retro/dungeons/boss7.png); }
.retro .boss.mire { background-image: url(images/themes/retro/dungeons/boss8.png); }
.retro .boss.turtle { background-image: url(images/themes/retro/dungeons/boss9.png); }
.retro .chest-0 { background-image: url(images/themes/retro/dungeons/chest0.png); }
.retro .chest-1 { background-image: url(images/themes/retro/dungeons/chest1.png); }
.retro .chest-2 { background-image: url(images/themes/retro/dungeons/chest2.png); }
.retro .chest-3 { background-image: url(images/themes/retro/dungeons/chest3.png); }
.retro .chest-4 { background-image: url(images/themes/retro/dungeons/chest4.png); }
.retro .chest-5 { background-image: url(images/themes/retro/dungeons/chest5.png); }
.retro .chest-6 { background-image: url(images/themes/retro/dungeons/chest6.png); }

.retro .crystal { background-image: url(images/themes/retro/overlay/crystal.png); }
.retro .pendant-0 { background-image: url(images/themes/retro/overlay/pendant0.png); }
.retro .pendant-1 { background-image: url(images/themes/retro/overlay/pendant1.png); }
.retro .pendant-2 { background-image: url(images/themes/retro/overlay/pendant2.png); }
