.super-metroid .tunic.active-1 { background-image: url(images/themes/super_metroid/items/tunic1.png); }
.super-metroid .tunic.active-2 { background-image: url(images/themes/super_metroid/items/tunic2.png); }
.super-metroid .tunic.active-3 { background-image: url(images/themes/super_metroid/items/tunic3.png); }
/*.super-metroid .tunic.active-1.bunny { background-image: url(images/themes/super_metroid/items/tunicbunny1.png); }
.super-metroid .tunic.active-2.bunny { background-image: url(images/themes/super_metroid/items/tunicbunny2.png); }
.super-metroid .tunic.active-3.bunny { background-image: url(images/themes/super_metroid/items/tunicbunny3.png); }*/
/*.super-metroid .sword.active-1 { background-image: url(images/themes/super_metroid/items/sword1.png); }*/
.super-metroid .sword.active-2 { background-image: url(images/themes/super_metroid/items/sword2.png); }
.super-metroid .sword.active-3 { background-image: url(images/themes/super_metroid/items/sword3.png); }
.super-metroid .sword.active-4 { background-image: url(images/themes/super_metroid/items/sword4.png); }
/*.super-metroid .shield.active-1 { background-image: url(images/themes/super_metroid/items/shield1.png); }*/
.super-metroid .shield.active-2 { background-image: url(images/themes/super_metroid/items/shield2.png); }
.super-metroid .shield.active-3 { background-image: url(images/themes/super_metroid/items/shield3.png); }
.super-metroid .moonpearl { background-image: url(images/themes/super_metroid/items/moonpearl.png); }
.super-metroid .bow { background-image: url(images/themes/super_metroid/items/bow0.png); }
.super-metroid .bow.active-1 { background-image: url(images/themes/super_metroid/items/bow1.png); }
.super-metroid .bow.active-2 { background-image: url(images/themes/super_metroid/items/bow2.png); }
/*.super-metroid .bow.active-3 { background-image: url(images/themes/super_metroid/items/bow3.png); }*/
.super-metroid .boomerang { background-image: url(images/themes/super_metroid/items/boomerang1.png); }
.super-metroid .boomerang.active-2 { background-image: url(images/themes/super_metroid/items/boomerang2.png); }
/*.super-metroid .boomerang.active-3 { background-image: url(images/themes/super_metroid/items/boomerang3.png); }*/
.super-metroid .hookshot { background-image: url(images/themes/super_metroid/items/hookshot.png); }
.super-metroid .mushroom { background-image: url(images/themes/super_metroid/items/mushroom.png); }
.super-metroid .powder { background-image: url(images/themes/super_metroid/items/powder.png); }
.super-metroid .firerod { background-image: url(images/themes/super_metroid/items/firerod.png); }
.super-metroid .icerod { background-image: url(images/themes/super_metroid/items/icerod.png); }
.super-metroid .bombos { background-image: url(images/themes/super_metroid/items/bombos.png); }
.super-metroid .ether { background-image: url(images/themes/super_metroid/items/ether.png); }
.super-metroid .quake { background-image: url(images/themes/super_metroid/items/quake.png); }
.super-metroid .lantern { background-image: url(images/themes/super_metroid/items/lantern.png); }
.super-metroid .hammer { background-image: url(images/themes/super_metroid/items/hammer.png); }
.super-metroid .shovel { background-image: url(images/themes/super_metroid/items/shovel.png); }
.super-metroid .net { background-image: url(images/themes/super_metroid/items/net.png); }
.super-metroid .book { background-image: url(images/themes/super_metroid/items/book.png); }
.super-metroid .bottle { background-image: url(images/themes/super_metroid/items/bottle0.png); }
.super-metroid .bottle.active-1 { background-image: url(images/themes/super_metroid/items/bottle1.png); }
.super-metroid .bottle.active-2 { background-image: url(images/themes/super_metroid/items/bottle2.png); }
.super-metroid .bottle.active-3 { background-image: url(images/themes/super_metroid/items/bottle3.png); }
.super-metroid .bottle.active-4 { background-image: url(images/themes/super_metroid/items/bottle4.png); }
.super-metroid .somaria { background-image: url(images/themes/super_metroid/items/somaria.png); }
.super-metroid .byrna { background-image: url(images/themes/super_metroid/items/byrna.png); }
.super-metroid .cape { background-image: url(images/themes/super_metroid/items/cape.png); }
.super-metroid .mirror { background-image: url(images/themes/super_metroid/items/mirror.png); }
.super-metroid .boots { background-image: url(images/themes/super_metroid/items/boots.png); }
.super-metroid .glove { background-image: url(images/themes/super_metroid/items/glove1.png); }
.super-metroid .glove.active-2 { background-image: url(images/themes/super_metroid/items/glove2.png); }
.super-metroid .flippers { background-image: url(images/themes/super_metroid/items/flippers.png); }
.super-metroid .flute { background-image: url(images/themes/super_metroid/items/flute.png); }

.super-metroid .agahnim { background-image:url(images/themes/super_metroid/dungeons/agahnim0.png); }
.super-metroid .agahnim.active { background-image:url(images/themes/super_metroid/dungeons/agahnim1.png); }
.super-metroid .chest-0 { background-image: url(images/themes/super_metroid/dungeons/chest0.png); }
.super-metroid .chest-1 { background-image: url(images/themes/super_metroid/dungeons/chest1.png); }
.super-metroid .chest-2 { background-image: url(images/themes/super_metroid/dungeons/chest2.png); }
.super-metroid .chest-3 { background-image: url(images/themes/super_metroid/dungeons/chest3.png); }
.super-metroid .chest-4 { background-image: url(images/themes/super_metroid/dungeons/chest4.png); }
.super-metroid .chest-5 { background-image: url(images/themes/super_metroid/dungeons/chest5.png); }
.super-metroid .chest-6 { background-image: url(images/themes/super_metroid/dungeons/chest6.png); }

.super-metroid .pendant-0 { background-image: url(images/themes/super_metroid/overlay/pendant0.png); }
.super-metroid .pendant-1 { background-image: url(images/themes/super_metroid/overlay/pendant1.png); }
.super-metroid .pendant-2 { background-image: url(images/themes/super_metroid/overlay/pendant2.png); }
